{% extends 'photos/base.html' %}

{% load static %}

{% block title %}Basic Upload{% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static '/photos/js/basic-upload.js' %}"></script>
{% endblock %}

{% block photos_content %}
<h1> Upload Images for Processing</h1>
<h2><a href="{% url 'photos:operations' %}">Start Traditional Image Processing</a> </h2>
<h2><a href="{% url 'photos:process' %}">Start DeepSynth Segmentation </a></h2><br><br>
  <div>
    <button id="upload" type="button" class="btn btn-primary js-upload-photos">
      <span class="glyphicon glyphicon-cloud-upload"></span> Upload Images
    </button>
    <input id="fileupload" type="file" name="file" multiple
           style="display: none;"
           data-url="{% url 'photos:basic_upload' %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

     <form method="post" action="{% url 'photos:clear_database' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button id="cleardata" type="submit" class="btn btn-danger pull-right">
      <span class="glyphicon glyphicon-trash"></span> Delete Uploaded Images
    </button>
  </form>
  </div>



<style>
#upload {
float: left;
}
#cleardata {
float: right;
}

</style>


  <table class="table table-bordered" style=" background-color: #F5F5F5; margin-top: 50px">
      <thead>
      <tr>
        <th>Image</th>
      </tr>
    </thead>
  </table>

  <div style="height:500px;overflow-y:auto;width:auto;">
  <table id="gallery" class="table table-bordered">

    <tbody>
      {% for photo in photos %}
        <tr>
          <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

{% endblock %}
