{% extends 'photos/base_compact.html' %}

{% load static %}

{% load subtract %}

{% block title %}Demo{% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'photos/js/drag-and-drop-upload.js' %}"></script>
{% endblock %}

{% block photos_content %}
<div id="dinavid_wrapper" class="row">

<!-- begin first column. This column will be used for control -->
<div class="column column-left" ><!--style="background-color:#aaa;">-->
  <h3 style="margin-top:0px">Indiana O’Brien Center for
Advanced Renal Microscopy Interactive 3D Image Analysis</h3>
<h3> Demo </h3>

  <div id='network-test' class='dinavid-block'>
  <button id='network-test-button' onclick="speedTest()" class="btn"><h3>Test Network</h3></button>
  </div>
  <!-- 
  This block is responsible for the interface to change visualization parameters.
  This includes: 
  opens interface to set fields for channels vs z planes,
  choose colors for channels,
  set xy-z aspect ratio.

  This is to be done at a later version.
  -->
  <div id='visualization-correction-block' class='dinavid-block'>

  <button id='visualization-correction-button' onclick="toggle_viz_cor_button()" class="btn"  {% ifequal color_dirpath "None" %} disabled {% endifequal %} > <h3>Visualization</h3></button>

  </div> <!-- end visualization correction block -->

  <!-- 
  This block is responsible for the interface to perform analysis.
  This includes:
  choosing the nuclear channel, 
  choosing processing steps,
  and the segmentation process.
  -->
  <div id='analysis-block' class='dinavid-block'>
    <!--<h2>Analysis  <br>-->
    <button id='analysis-block-button' onclick="toggle_analysis_button()" class="btn" {% ifequal color_dirpath "None" %} disabled {% endifequal %} disabled> <h3>Pre-Processing</h3></button>

  </div> <!-- end analysis block -->
  
  <div id='segmentation-block' class='dinavid-block'>
  <button id='segmentation-block-button' onclick="toggle_seg_steps_button()" class="btn" disabled><h3>Segmentation</h3></button>  
  </div> <!-- end segmentation block -->

  <div id='quantification-block' class='dinavid-block'>
    <button id='quantification-block-button' onclick="toggle_quantification_button()" class="btn" disabled > <h3>Quantification</h3></button>

    
    
  </div> <!-- end quantification block -->

  <div id='interactive-block' class='dinavid-block'>
    <button id='interactive-block-button' onclick="toggle_interactive_button()" class="btn" disabled > <h3>Interactive <br> Data Analysis</h3></button>
    
    
  </div> <!-- end interactive data analysis block -->


</div> <!-- end first column -->


<div class="column column-mid" style="background-color:#EEEEEE;">
  
    
    {% ifnotequal color_dirpath "None" %}
    
    <div id='viz_cor' style='display:none'>
     <font size=4> Channel Color Picker </font><br>
     <form id="channels_form" method="post" channel-update-demo-url="{% url 'photos:update_channel_color_demo' %}">
      <input type="hidden" value={{num_ch}} name="num_ch">
      {% with ''|center:num_ch as channels %}
            {% for _ in channels %}
              Channel {{forloop.counter}} color: <input type="color" id="ch_color_{{forloop.counter0}}" name="ch_color[]" value="{{ch_color_list.0}}" onchange="document.getElementById('ch_color_3d_{{forloop.counter0}}').value = document.getElementById('ch_color_{{forloop.counter0}}').value;"> 
              Channel on/off: 
              <input type="hidden" name="dis_ch[]" value=1 id="dis_ch_hid_{{forloop.counter0}}" >
              <input type="checkbox" id="dis_ch_{{forloop.counter0}}" value='1' checked onchange='document.getElementById("dis_ch_hid_{{forloop.counter0}}").value = 1 - document.getElementById("dis_ch_hid_{{forloop.counter0}}").value; document.getElementById("dis_ch_hid_3d_{{forloop.counter0}}").value = document.getElementById("dis_ch_hid_{{forloop.counter0}}").value;'>

            <br> 
            {% endfor %}
      {% endwith %}
      <font size=4> 2D Gamma, Brightness, and Offset Selector </font><br>
      {% with ''|center:num_ch as channels %}
            {% for _ in channels %}
            <!--TODO change the colors to the default used-->
              Channel {{forloop.counter}}: 
              <output id="x{{forloop.counter0}}" for="ch_gamma_{{forloop.counter0}}" oninput="value = ch_gamma_{{forloop.counter0}}.valueAsNumber;console.log('hey');">0.82</output>
              <output id="y{{forloop.counter0}}" for="ch_brightness_{{forloop.counter0}}" oninput="value = ch_brightness_{{forloop.counter0}}.valueAsNumber;">0.64</output>
              <output id="z{{forloop.counter0}}" for="ch_offset_{{forloop.counter0}}" oninput="value = ch_offset_{{forloop.counter0}}.valueAsNumber;">0</output>
              <br>
             Gamma: <input type="range" min=0.01 max=3 step=0.01 value=0.82 class="slider ch_slider" name="ch_gamma[]" id="ch_gamma_{{forloop.counter0}}" onmousemove="document.getElementById('x{{forloop.counter0}}').value = this.value; document.getElementById('ch_gamma_3d_{{forloop.counter0}}').value = this.value;">

             Brightness: <input type="range" min=0 max=10 step=0.01 value=0.64 class="slider ch_slider" name="ch_brightness[]" id="ch_brightness_{{forloop.counter0}}" onmousemove="document.getElementById('y{{forloop.counter0}}').value = this.value;  document.getElementById('ch_brightness_3d_{{forloop.counter0}}').value = this.value;">
             Offset: <input type="range" min=-1 max=1 step=0.01 value=0 class="slider ch_slider" name="ch_offset[]" id="ch_offset_{{forloop.counter0}}" onmousemove="document.getElementById('z{{forloop.counter0}}').value = this.value;  document.getElementById('ch_offset_3d_{{forloop.counter0}}').value = this.value;">
            <br> 
            {% endfor %}
      {% endwith %}
      <input type="hidden" id="curr_slice" name="curr_slice" value=19>
      </form>
      <br>
       <button onclick="reset_update_channel_color_slice(true);update_channel_color_slice();" class="btn" style="background-color:#EECCEE; border:solid;"> Update Visualization </button>
       <p id="update_viz_feedback" ></p>
       
      
    </div>
    
    <div id='analysis-block-content' style='display:none'>
    <!--<button onclick="toggle_process_steps_button()" class="btn" style="margin-top:2px">Toggle Processing Steps</button>  -->
    <div id="process_hint">
    <font size=4> Processing Steps </font> <font size=1.5 style="border-bottom: 1px dotted black;" title="Choose the nuclear channel based on the small preview. 
Then, choose any processing steps you wish to add. You can add and remove any of the steps. You can also preview the image volumes after the processing steps to see whether the chosen parameters are appropriate.
Finally, choose a segmentation method. 
For segmentation using watershed, you only need to specify a threshold value. This threshold is applied to the image volume after the processing steps and before applying the watershed operation.
For deepsynth segmentation, see the description below."> Tips </font>
</div>
      <!--<form method="post" action="{% url 'photos:workflow_analysis' %}>-->
	  <div id="processing_steps_div" style="display:block">
      <form id="processing_form" method="post" workflow-analysis-url="{% url 'photos:workflow_analysis' %}" workflow-process-url="{% url 'photos:workflow_process' %}" workflow-preview-url="{% url 'photos:workflow_preview' %}">
      {% csrf_token %}
      <div>
        <!-- Dropdown box for user to specify the nuclear channel-->
        <div style="border-style:inset">
         Select nuclei channel: 
          <select name=nuclei_channel id="nuclei_channel" autofocus style="margin-right: 0; margin-top: 10px;">
            <optgroup label = "Select the nuclei channel" >
            <<!--option disabled>--- Please Select ---</option>-->
            {% with ''|center:num_ch as channels %}
            {% for _ in channels %}
              <option value="{{forloop.counter0}}">Channel {{forloop.counter}}</option>  
            {% endfor %}
            {% endwith %}
            </optgroup>
          </select>
          <button type="button" class="btn"  onclick="show_channels()" style="background-color: #DDDDDD">Show Channels</button>
         
        </div>
      </div>
      <div id="scaletext" style="display:none">
          <label style="margin-top: 100px">Original Volume Scale:</label>
          <br>
          <label style="margin-top: 10px">Width: <input type="text"  id="worg" style="border:none" readonly/> Height: <input type="text" id="horg" style="border:none" readonly/></label>
          </br>
          <label style="margin-top: 10px">Selected Subvolume Scale:</label>
          </br>
          <label style="margin-top: 10px">Width: <input type="text" id="w" style="border:none" readonly/> Height: <input type="text" id="h" style="border:none" readonly/></label>
          <br>
          <label style="margin-top: 10px">Current Coordinates:</label>
          </br>
          <br>
          <label>x<sub>1</sub>:     <input type="number" id="x1" name="x1" readonly  style="border:none" value=0> </label>
          </br>
          <br>
          <label>x<sub>2</sub>:     <input type="number" id="x2" name="x2" readonly  style="border:none" value={{ shape.1 }}> </label>
          </br>
          <br>
          <label>y<sub>1</sub>:     <input type="number" id="y1" name="y1" readonly style="border:none" value=0> </label>
          </br>
          <br>
          <label>y<sub>2</sub>:     <input type="number" id="y2" name="y2" readonly style="border:none" value={{ shape.0 }}> </label>
          </br>
      </div>
      <div id="image_processing">
      
        <h3>Add Processing Steps 
          <button type="button" class="btn btn-success"  onclick="addProcess()">
              <a class="glyphicon glyphicon-plus" ></a> Add Processing Step
          </button>
        </h3>
        <div id="processes">
                <div id="proc-0" style="border-style:solid; margin-bottom:1px;">
                  Processing Step:            
                  <select name=operation[]  id="operation-0" style="margin-left:0px; width:175px;" onchange="changeProcessOption(0)">
                  <!--<option value="none">No operation</option>-->
                  <!--<option value="downsampling" selected="selected">Downsampling</option>-->
                  <option value="smoothing">Gaussian Smoothing</option>
                  <option value="thresholding">Thresholding/Clamping</option>
                  <option value="morph">Morphology</option>
                  <!--<option value="watershed">Watershed</option>-->
                  <option value="rollingball">Rolling Ball Background Subtraction</option>
                  <option value="medianfilter">Median Filter</option>
                  <option value="mediansub">Median Background Subtraction </option>
                  </select>
                  <input type="button" value="Remove Step" class='btn btn-danger' onclick="javascript:removeElement('proc-0');">
                  
                  <div id=downsampling_div-0 style="display:none">
                  Downsampling Rate:
                    <select name=resolution[] style="margin-left: 0px;">
                      <optgroup label = "What level of resolution do you want for visualization?">
                      <option disabled>--- Please Select ---</option>
                      <option value="8x" selected="selected" >8x down-sampling</option>
                      <option value="4x">4x down-sampling</option>
                      <option value="2x">2x down-sampling</option>
                      </optgroup>
                    </select>
                  </div>
                  
                  
                  <!-- input filter information -->
                   <div id=smoothing_div-0>
                    Kernel Size: <input type="number" name=k_size[] value=3 min=3 max=21 step=2 > 
                    <font size=1.5 style="border-bottom: 1px dotted black;" title="Enter an odd integer between 3 and 21."> Hover for Tips </font>  
                    <br>
                    Sigma: <input type="number" name=sigma[]  value=0 min=0 step="any"> 
                    <font size=1.5 style="border-bottom: 1px dotted black;" title="Enter any non-negative real number. Put in '0' for automatically-determined sigma based on kernel size."> Hover for Tips </font> 
                  </div>

                  <!-- ALAIN: Threshold-->
                  <div id=thresholding_div-0 style="display:none">
                    Thresholding or Clamping?
                    <select name=threshtype[] style="margin-left: 0px;">
                      <optgroup label = "Thresholding or Clamping?">
                      <option disabled>--- Please Select ---</option>
                      <option value="bi" selected="selected" >Thresholding</option>
                      <option value="cl">Clamping</option>
                      </optgroup>
                    </select>
                    <br>
                  Threshold: <output name=showThresh[] id="showThresh-0">30</output>
                  <input type="range" min=1 max=255 value=30 class="slider" name=threshold[] id="threshold-0" oninput="changeSliderValue(0)">
                  </div>
                  
                  <div id=morph_div-0 style="display:none">
                    Morphological opertaion:
                    <select name=morph_type[] id="morph_type" style="margin-left: 0px; margin-top: 10px;   ">
                      <optgroup label = "Type of morphological operation">
                      <option disabled>--- Please Select ---</option>
                      <option value="erosion" selected="selected">Erosion</option>
                      <option value="dilation">Dilation</option>
                      <option value="opening">Opening</option>
                      <option value="closing">Closing</option>
                      </optgroup>   
                    </select>   
            
                    <br>Structuring Element Type:
                    <select name=se_type[] id="se_type" style="margin-left:0px; margin-top: 10px;   ">
                    <optgroup label = "Type of structing element">
                    <option disabled>--- Please Select ---</option>
                    <option value="rect" selected="selected" >Square</option>
                    <option value="ellipse">Circular</option>
                    <option value="cross">Cross</option>
                    </optgroup>   
                    </select>   
            
                   <br>Structuring Element Size:
                  <!-- Do we need to limit the size of the structuring element to some maximum? -->
                  <input type="number" name=se_size[] id="se_size" value=3 min=2 step=1 >
                  </div>


                  <!--  background_subtrac -->
                  <div id=rollingball_div-0 style="display:none">
                   
                  Rolling ball radius: <input type="number" name=ball_size[] value=30 min=1 step="any">
                  </div>

                  
                  <div id=watershed_div-0 style="display:none">
                    Watershed selected
                  </div>
                 
                  
                  
                  <div id=medianfilter_div-0 style="display:none">
                    Median filter kernel size: <input type="number" name=mediankernel[] value=5 min=3 max=65 step=2>
                  </div>
                  
                  <div id=mediansub_div-0 style="display:none">
                    Median subtraction filter kernel size: <input type="number" name=mediansubkernel[] value=31 min=3 max=65 step=2>
                  </div>
                  
                </div>
        </div>
      </div>
	  
    </form> <!-- end analysis form -->
      
    <div>
    <button type="submit" class="btn btn-primary" style="margin-top: 3px; display:inline-block;" onclick="workflow_preview_processing()">
        <span class="glyphicon glyphicon-play-circle" ></span> Preview Processing Steps
    </button>
    <button type="submit" class="btn btn-primary" style="margin-top: 3px; display:inline-block;" onclick="workflow_processing()">
        <span class="glyphicon glyphicon-play-circle" ></span> Perform Processing Steps
    </button>
    </div>
	
    <hr>
	</div>
    </div>
    
    <div id="segmentation-div" style="display:none">   
    <form id="segment_form" method="post"  workflow-segmentation-prev-url="{% url 'photos:workflow_seg_preview' %}" workflow-segmentation-url="{% url 'photos:workflow_seg' %}" >
        Choose your segmentation method: 
        <select name=seg_opt id="seg_opt" style="margin-left:0px;margin-top: 10px;   " onchange="seg_opt_on_change()">
          <option value="watershed" selected="selected">Watershed</option>
          <!--<option value="deepsynth">DeepSynth</option>    -->  
        </select>
        
        <div id="watershed-content" style="display:block; border:dotted">
          <!--Insert Watershed Content here-->
          Threshold:  <output name=seg_thresh id="seg_thresh">30</output> <br>
                <input type="range" min=1 max=255 value=30 class="slider" name=seg_thresh_slider id="seg_thresh_slider" oninput="changeSegSliderValue()" style="width:250px"><br>
                <input type="checkbox" name=use_otsu_seg id="use_otsu_seg" onchange="otsu_seg_onchange()">
                <input type="hidden" name=otsu_seg_val id="otsu_seg_val" value='false'>
                <input type="hidden" name=seg_thresh_val id="seg_thresh_val" value=30>
                Use Otsu's Method to automatically find a threshold?

        </div> <!-- end watershed-content -->
        
        <div id="deepsynth-content" style="display:none; border:dotted">
          <p class="lead"> <font size=3>Perform 3D segmentation (DeepSynth) on cell images using Deep Learning. You can choose the segmentation model based on the appearance of your data. You can also 
            perform color coding, watershed, and small component removal on the data.</font></p>
          <table width="100%" border="0">
          <span>Please choose segmentation model based on the appearance of the following example image from each model </span>
          <tr> 
          <td><figure class="text-center" style="margin-left: 0px">
              <img src="../../media/model_image/wsm.png" width="200px" height="200px" />
              <figcaption><strong>Model 1</strong></figcaption>
          </figure></td>
          <td><figure class="text-center" style="margin-left: 10px">
              <img src="../../media/model_image/immu.png" width="200px" height="200px" />
              <figcaption><strong>Model 2</strong></figcaption>
          </figure></td>
          
          <td><figure class="text-center" style="margin-left: 10px">
              <img src="../../media/model_image/3color.png" width="200px" height="200px" />
              <figcaption><strong>Model 3</strong></figcaption>
          </figure></td>
          </tr>
          <tr>
          <td><figure class="text-center" style="margin-left: 10px">
              <img src="../../media/model_image/biopsy.png" width="200px" height="200px" />
              <figcaption><strong>Model 4</strong></figcaption>
          </figure></td>
          <td><figure class="text-center" style="margin-left: 10px">
              <img src="../../media/model_image/heart.png" width="200px" height="200px" />
              <figcaption><strong>Model 5</strong></figcaption>
          </figure></td>
          </tr> 
          </table>
          <br></br>

          <div id="previewcontainer">
            <div id=probuttons>
              <br>
              <label style="margin-top: 30px;" for="thSmall">Select Model, Color Coding, and Watershed:</label> 
              <select name=pretrainmodelname style="margin-right: 0; margin-top: 0px ">
                <optgroup label = "Pretrained Models">
                <option disabled>--- Please Select ---</option>
                <option value="wsm" selected="selected">Model 1</option>
                <option value="immu">Model 2</option>
                <option value="3color">Model 3</option>
                <option value="biopsy">Model 4</option>
                <option value="heart">Model 5</option>
                </optgroup>
              </select>
              <br> 
              <label style="margin-top: 30px;" for="colorcode">Perform Color Coding?</label> 
              <select name=colorcode style="margin-left: 0px">
                <optgroup label = "Color Coding?">
                <option disabled>--- Please Select ---</option>
                <option value="YES" selected="selected" >Yes</option>
                <option value="NO">No</option>
                </optgroup>
              </select>
              <label style="margin-top: 30px;" for="watershed">Perform watershed along with deepsynth?</label> 
              <select name=watershed style="margin-left: 0px">
                  <optgroup label = "Watershed?">
                  <option disabled>--- Please Select ---</option>
                  <option value="YES" selected="selected" >Yes</option>
                  <option value="NO">No</option>
                  </optgroup>
              </select>
              <div>
                <label style="margin-top: 15px" for="thSmall">Remove small components:</label>
                <input type="number" id="thSmall" type="text" name="thSmall" value=0 min=0>
              </div>

            </div>
          </div>
        
        </div> <!-- end deepsynth-content -->
      
    </form>
    
		<div>
		  <div>
			<button type="submit" id='seg_prev_button' title='You can only preview segmentation if you have previewed processing' class="btn btn-primary" style="margin-top: 3px; display:inline-block;" onclick="workflow_seg_preview()" disabled>
				<span class="glyphicon glyphicon-play-circle" ></span> Segment Image Preview
			</button>
			<button type="submit" id='seg_button' class="btn btn-primary" style="margin-top: 3px; display:inline-block;" onclick="workflow_seg()" disabled>
				<span class="glyphicon glyphicon-play-circle" ></span> Segment Image 
			</button>
		  </div>
		</div>
	</div>
    
    <div id='quantification-block-content' style='display:none'>
    
    <form id="quantification_form" method="post" workflow-quantification-url="{% url 'photos:workflow_quantification' %}">
      {% csrf_token %}
      Choose the parameters for quantification:
      <br>
      Number of voxels to radiate out to define the region surrounding a nucleus: <input type="number" id="radius_voxels" name="radius_voxels" value=2 min=1 step=1> voxels 
    </form>
    <button class="btn btn-primary" style="margin-top: 30px;" onclick="workflow_quantification()">
    <span class="glyphicon glyphicon-play-circle" ></span> Proceed to Interactive Data Analysis
    </button>
    </div>
    
    
    <div id='interactive-block-content' style='display:none'>
      <a id='csv_download' href="{% url 'photos:export_users_csv' %}">Download the spreadsheet of measurements</a>
      <br>
      
      <form id="update_quantification_form" method="post" update-workflow-quantification-url="{% url 'photos:update_workflow_quantification' %}">
        {% csrf_token %}
        Select the region of interest from the scatter plot:
        <br>X_min:<input type="number" name=scatter_xmin  value=0 step="any">X_max:<input type="number" name=scatter_xmax  value=0 step="any">
        <br>Y_min:<input type="number" name=scatter_ymin  value=0 step="any">Y_max:<input type="number" name=scatter_ymax  value=0 step="any">
        <br>Apply Changes on Region of Interest?
        <select name=if_scatter_region style="margin-right: 0; margin-top: 0px ">
            <optgroup label = "Do you want to apply the changes on the region of">
            <option value="False" selected="selected">No</option>
            <option value="True">Yes</option>
            </optgroup>
        </select>
		<br>
        Number of voxels to radiate out to define the region surrounding a nucleus: <input type="number" id="radius_voxels" name="radius_voxels" value=2 min=1 step=1> voxels 
      </form>
      <button type="submit" class="btn btn-primary" style="margin-top: 30px;" onclick="update_workflow_quantification()" >
            <span class="glyphicon glyphicon-play-circle" ></span> Update 
      </button>
    </div>
    
    {% endifnotequal %}
</div>

<!-- start second column. This column is used to display the images and results -->
<div class="column column-right" style="background-color:#bbb;">
      <!--<p> Your images and results of processing and segmentation will appear in this column </p>-->
      {% ifnotequal color_dirpath "None" %}
     <!-- 
      This block is reponsible for visualizing the image volumes.
      Currently, we have a 2D visualization of slices. 
      Eventually we need to put 3D visualization here has well.
      -->
      <div id='visualization-block' class='dinavid-block'>
      <h2>Visualization
      <button onclick="toggle_viz_button()" class="btn" {% ifequal color_dirpath "None" %} disabled {% endifequal %}>Toggle 2D Visualization</button> 
      <button id="toggle_3D_button" onclick="toggle_3D_visualization()" class="btn" disabled> Toggle 3D Visualization</button>
      <button onclick="gen_3D_visualization()" class="btn"> Generate 3D Visualization</button> 
      </h2>
       <div id="previewsubparent" style="display: {% ifequal color_dirpath 'None' %} none {%else%} block {% endifequal %}">
        <div class="row">     
          <div class="column column-left" style="width:75%; margin-left:7px;">   
            <div id="previewsub" >
              <!--<h3>Select a subregion to visualize/process</h3>

              If you want to proceed with entire volume, you do not need to select any region below.-->
              <img id="imageid" width="400px" height="{%widthratio shape.0 shape.1 400%}px" onError="this.onerror=null; this.src='../../media/model_image/uploadimage.jpg'">
              <input type="range" min="1" max={{num_z}} value="20" class="slider" id="myRange">
              </div>
          </div> <!-- end column left -->
          <div class="column column-right" style="width:20%;">   
           <form id="viz_3D_form" method="post" viz-3D-url="{% url 'photos:visualization_3d' %}">
                 {% with ''|center:num_ch as channels %}
            {% for _ in channels %}
            <!--TODO change the colors to the default used-->
              <input type="hidden" id="ch_color_3d_{{forloop.counter0}}" name="ch_color_3d[]" value="#ff0000"> 
              <input type="hidden" name="dis_ch_3d[]" value=1 id="dis_ch_hid_3d_{{forloop.counter0}}" >
              <input type="hidden" name="ch_gamma_3d[]" value=1 id="ch_gamma_3d_{{forloop.counter0}}" >
              <input type="hidden" name="ch_brightness_3d[]" value=1 id="ch_brightness_3d_{{forloop.counter0}}" >
              <input type="hidden" name="ch_offset_3d[]" value=1 id="ch_offset_3d_{{forloop.counter0}}" >
              <input type="hidden" name="num_ch_3d" value={{num_ch}} >
                {% endfor %}
                {% endwith %}
                <label style="margin-top: 30px">Original Volume:</label></br>
                <label style="margin-top: 10px">Width: <input type="text" size="4" id="worg_3d" style="border:none" value="{{shape.1}}" readonly/></label>
                <br><label style="margin-top: 10px">Height: <input type="text" size="4" id="horg_3d" style="border:none" value="{{shape.0}}" readonly/></label>

                <label style="margin-top: 10px">Selected Subvolume:</label></br>
                <label style="margin-top: 10px">Width: <input type="text" size="4" id="w_3d" style="border:none;" readonly/></label>
                <br><label style="margin-top: 10px">Height: <input type="text" size="4" id="h_3d" style="border:none" readonly/></label>

                <div style="display:none;">
                  <label style="margin-top: 10px">X-Y sub-coordinates</label></br>
                  
                  <label>x<sub>1</sub>: <input type="number" size="4" id="x1_3d" name="x1_3d" style="border:none" readonly/></label>
                  <label>x<sub>2</sub>: <input type="number" size="4" id="x2_3d" name="x2_3d" style="border:none" readonly/></label>
                  <label>y<sub>1</sub>: <input type="number" size="4" id="y1_3d" name="y1_3d" style="border:none" readonly/></label>
                  <label>y<sub>2</sub>: <input type="number" size="4" id="y2_3d" name="y2_3d" style="border:none" readonly/></label>
                </div>
              </form>
              
             
              <div id="sub_preview" style="display:none">
                
              </div>
              
              

          </div> <!-- end column right --> 
       </div> <!-- end row --> 
      </div>
      <div id="viz-3d-block" style='display:none'>
          <iframe id='3D-viz_iframe' height=500px width=100%></iframe>
          <!--<form method="post" action="{% url 'photos:visualdisplay' %}" target="_blank">
            {% csrf_token %}
            <td><button class="btn" id="viz-3d-link" name=disname target="_blank" value={{visual.display_name}} href="{{visual.address}}">Visualize in a new page</button></td>
          </form>-->
      </div>
      </div> <!-- end visualization block -->
    
      <!-- Preview each channel so user can choose the nuclear channel.-->
      <div id="nuc-preview-wrapper" class="dinavid-block" style='background:white;display:none'>
      <h3>Channel Preview
      <button onclick="toggle_nuc_preview_button()" class="btn" {% ifequal color_dirpath "None" %} disabled {% endifequal %}> Toggle Channel Preview</button> 
      </h3>
      <div id="nuc-preview-content" style="display:none">
        <div i class="boxwrapper" style='display:none'> 
        {% for im in file_list %}
            {% if forloop.counter <= num_ch %}
              {% if forloop.counter0|divisibleby:5 %} 
               </div>
               <div i class="boxwrapper" style='display:inline-block'> 
              <div class="boxwrapper">
              {%endif%}
             <div class="box" style='display:inline-block'>
             Channel {{ forloop.counter }}
             <br>
             <div class="container" width="150px" height="250px" >
              <img class="clip" id="imageid_{{forloop.counter}}" src=" {{ dirpath|add:im }}"  onError="this.onerror=null; this.src='../../media/model_image/uploadimage.jpg'">
             </div>
             <input type="range" min="1" max={{num_z}} value="1" class="slider" id="myRange_{{forloop.counter}}">
             </div>
             {%endif%}
        {% endfor %}
        </div> 
        </div>
        </div>
      </div><!-- end nuclei channel preview block -->
    
      <div id='preview-process-block' class="dinavid-block" style="display:none; background:white">
      <h3>Preview Processing Steps
      <button onclick="toggle_preview_proc_button()" class="btn">Toggle Processing Preview</button> 
      </h3>
      <div id='preview-process-content' style="display:block">
        <img id="imagepreviewid" src="{{ color_dirpath|add:color_file_list.0 }}" width="200px" height="{%widthratio shape.1 shape.0 200%}px">
        <input type="range" min="1" max={{num_z}} value="1" class="slider" id="myRangePreview" style="width:200px">
      </div>
      </div>
	
      <div id='result-process-block' class="dinavid-block" style="display:none; background:white">
      <h3>Result of Processing Steps
      <button onclick="toggle_process_button()" class="btn">Toggle Processing Results</button> 
      </h3>
      <div id='result-process-content' style="display:block">
          <img id="resultprocessid" src="{{ color_dirpath|add:color_file_list.0 }}" width="500px" height="{%widthratio shape.1 shape.0 500%}px">
          <input type="range" min="1" max={{num_z}} value="1" class="slider" id="myRangeResultProcess" style="width:500px">
      </div>
      </div>
	      
	  <div id='preview-seg-block' class="dinavid-block" style="display:none; background:white; height:400px;">
      <h3>Preview Segmentation
      <button onclick="toggle_preview_seg_button()" class="btn">Toggle Segmentation Preview</button> 
      </h3>
      <div id='preview-seg-content' style="display:block">
          On the left is a preview of the segemented results. <br>
          On the right is the same section of the processed image that is used to preview the segmentation.
          <br>
          <div style='display:inline-block' >
		  <img id="segpreviewid" src="{{ color_dirpath|add:color_file_list.0 }}" width="200px"  height="{%widthratio shape.1 shape.0 200%}px">
          </div>
          <div style='display:inline-block'>
          <img id="origpreviewid" src="{{ color_dirpath|add:color_file_list.0 }}" width="200px" height="{%widthratio shape.1 shape.0 200%}px">
          </div>
          <br>
          <input type="range" min="1" max={{num_z}} value="1" class="slider" id="myRangeSegPreview" style="width:404px">
          
	  </div>
      
      </div>
    
      <div id='segment-process-block' class="dinavid-block" style="display:none; background:white">
      <h3>Result of Segmentation
      <button onclick="toggle_seg_button()" class="btn">Toggle Segmentation Results</button>
      </h3>      
      <div id='segment-process-content' style="display:block">
          <img id="imagesegmentid" src="{{ color_dirpath|add:color_file_list.0 }}" width="500px" height="{%widthratio shape.1 shape.0 500%}px">
          <input type="range" min="1" max={{num_z}} value="1" class="slider" id="myRangeSegment" style="width:500px">
      </div>
      </div>
      
      <div id='interactive-block-display' class="dinavid-block"  style="display:none; background:white">
      <h3>Gated Cells
      <button onclick="toggle_highlight_button()" class="btn">Toggle Gated Cells</button> 
      </h3>
      <div id='highlight-content' style="display:block">
            <img id="interactive_results" src="{{ color_dirpath|add:color_file_list.0 }}" width="500px" height="{%widthratio shape.1 shape.0 500%}px">
            <input type="range" min="1" max={{num_z}} value="1" class="slider" id="myRangeInteractive" style="width:500px">
      </div>
      </div>
      
      <div id='scatterplot-block' class="dinavid-block"  style="display:none; background:white">
      <h3>Scatterplot
      <button onclick="toggle_scatterplot_button()" class="btn">Toggle Scatterplot</button> 
      </h3>
      <div id='scatterplot-block-content' style="display:block">
        <img id="scatterplot_image" src=""{{ color_dirpath|add:color_file_list.0 }} >
      </div>
      </div>
    
    {% endifnotequal %}
 </div><!-- end second column -->
</div> <!-- end row block --> 


<!-- Jquery Imageareaselector (subvolume selector) -->
<link rel="stylesheet" type="text/css" href="../../static/css/imgareaselect-default.css" />
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.imgareaselect.pack.js"></script>

<script type="text/javascript">



jQuery.noConflict();
jQuery(function($){
  $('#imageid').imgAreaSelect({
      handles: true,
      onSelectChange: showcoordinate,
      onInit:fulldim
  });
  
  //When the page is loaded, focus on the upload div.
  $(document).ready(function () {
      $('html, body').animate({
          scrollTop: $('#dinavid_wrapper').offset().top
      }, 'slow');
      ch_color = ['#0000ff', '#ff0000', '#00ff00' , '#f58231', '#4363d8', '#911eb4', '#42d4f4', '#f032e6', '#bfef45', '#fabebe', '#469990', '#e6beff', '#9A6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', '#000075'];
                  
      $("#ch_brightness_3d_0").val("4.31");
      $("#ch_brightness_0").val("4.31");
      $("#y0").val("4.31");
      $("#viz_cor").css('display','block');
      {% with ''|center:num_ch as channels %}
            {% for _ in channels %}
              $("#ch_color_{{forloop.counter0}}").val(ch_color[{{forloop.counter0}}]);
              $("#ch_color_3d_{{forloop.counter0}}").val(ch_color[{{forloop.counter0}}]);
             {% endfor %}
      {% endwith %}
  });
  
  
  
});

// -------------------Testing network speed --------------------
var arrTimes = [];
  var i = 0; // start
  var timesToTest = 2;
  var tThreshold = 150; //ms
  var downloadSize = 4995374;
  // var testImage = "http://www.google.com/images/phd/px.gif"; // small image in your server
  //var testImage = "http://www.kenrockwell.com/contax/images/g2/examples/31120037-5mb.jpg";
  var testImage = "../../media/model_image/test_speed_img.jpg";
  var dummyImage = new Image();

function speedTest(){
  i = 0;
  var speedMbps_out;
  speedMbps_out = testLatency(function(avg){
    var bitsLoaded = downloadSize * 8;
    avg = avg/1000;
    var speedBps = Math.round(bitsLoaded / avg);
    var speedKbps = (speedBps / 1024).toFixed(2);
    var speedMbps = (speedKbps / 1024).toFixed(2);

    //The case when we run a speed test for estimating time to download for 2D visualization.
    if (document.getElementById("update_viz_feedback").innerHTML == "Please wait." )
    {
      
      let w = document.getElementById("imageid").naturalWidth;
      let h = document.getElementById("imageid").naturalHeight;
      let z = {{num_z}};
      let ch = {{num_ch}};
      document.getElementById("update_viz_feedback").innerHTML =  "This will take approximately " + (w*h*z*ch*8/speedMbps/1000000).toFixed(2) + " seconds.";
    }
    //When the user clicks the "Test Network Button"
    else
    {
      window.alert("Your Network Speed for Downloading is: " + speedMbps + "Mbps");
    }
  });
  //console.log(speedMbps_out);
  //return speedMbps_out;
}

/** test and average time took to download image from server, called recursively timesToTest times */
function testLatency(cb) {
  var tStart = new Date().getTime();
  if (i<timesToTest-1) {
    dummyImage.src = testImage + '?t=' + tStart;
    dummyImage.onload = function() {
      var tEnd = new Date().getTime();
      var tTimeTook = tEnd-tStart;
      arrTimes[i] = tTimeTook;
      testLatency(cb);
      i++;
    };
  } else {
    /** calculate average of array items then callback */
    var sum = arrTimes.reduce(function(a, b) { return a + b; });
    var avg = sum / arrTimes.length;
    // alert(avg);
    
    cb(avg);
    // alert(cb(avg));
  }
}

// ------------------- End Testing network speed --------------------

//Generates 3D visualization on the page
function gen_3D_visualization()
{

  $('#viz-3d-block').css('display','block');
  
  //$('#viz-3d-link').attr('href','https://photon.ecn.purdue.edu/~micros/media/demo_im/preprocess_visual_demo/test.html');
  //$('#viz-3d-link').attr('value',data.display_name);
  $('#3D-viz_iframe').attr('src', "https://photon.ecn.purdue.edu/~micros/media/demo_im/preprocess_visual_demo/test.html" );
  $('#toggle_3D_button').attr('disabled',false);
  $('#previewsubparent').css('display','none');   
  
  $('.imgareaselect-selection').css('display','none');   
  $('.imgareaselect-border1').css('display','none'); 
  $('.imgareaselect-border2').css('display','none'); 
  $('.imgareaselect-border3').css('display','none'); 
  $('.imgareaselect-border4').css('display','none'); 
  $('.imgareaselect-handle').css('display','none'); 
  $('.imgareaselect-outer').css('display','none'); 
}


//Calculate the XY coordinates of the select area.
function showcoordinate(img, selection) {

    var im = document.getElementById("imageid");

    if (!selection.width || !selection.height)    
    {
      $('#w_3d').val({{shape.1}});
      $('#h_3d').val({{shape.0}}); 
      $('#x1_3d').val(0);
      $('#y1_3d').val(0); 
      $('#x2_3d').val({{shape.1}});
      $('#y2_3d').val({{shape.0}}); 
      return;
    }
   
    
    $('#x1_3d').val(Math.round(selection.x1 * ({{shape.1}} / im.width)));
    $('#y1_3d').val(Math.round(selection.y1 * ({{shape.0}} / im.height)));
    $('#x2_3d').val(Math.round(selection.x2 * ({{shape.1}}/ im.width)));
    $('#y2_3d').val(Math.round(selection.y2 * ({{shape.0}} / im.height)));
    $('#w_3d').val(Math.round(selection.width * ({{shape.1}} / im.width)));
    $('#h_3d').val(Math.round(selection.height * ({{shape.0}} / im.height)));    
    $('#worg_3d').val({{shape.1}});
    $('#horg_3d').val({{shape.0}}); 
}

function fulldim(img, selection) {
var im = document.getElementById("imageid");
    	$('#x1_3d').val(0);
	    $('#y1_3d').val(0);
	    $('#x2_3d').val({{shape.1}});
	    $('#y2_3d').val({{shape.0}});
	    $('#w_3d').val({{shape.1}});
	    $('#h_3d').val({{shape.0}}); 
	    $('#worg_3d').val({{shape.1}});
	    $('#horg_3d').val({{shape.0}}); 
	}


function show_channels()
{
  $('#nuc-preview-wrapper').css('display','block');
  $('#previewsubparent').css('display','none');
  $('#nuc-preview-content').css('display','block');
  $('#preview-process-content').css('display','none');
  $('#result-process-content').css('display','none');
  $('#preview-seg-content').css('display','none');
  $('#segment-process-content').css('display','none');
  $('#interactive-block-content').css('display','none');
  $('#scatterplot-block-content').css('display','none');
}






//Toggle between disabling and enabling selecting threshold when otsu's method option is selected or not.
function otsu_seg_onchange(){
    var ischecked = document.getElementById("use_otsu_seg").checked;
    
    if(ischecked)
    {
      $('#seg_thresh_slider').attr('disabled',true)
      $('#seg_thresh_slider').attr('readonly',true);
      $('#otsu_seg_val').val('true');
    }
    else
    {
      $('#seg_thresh_slider').attr('disabled',false);
      $('#seg_thresh_slider').attr('readonly',false);
      $('#otsu_seg_val').val('false');
    }
}

//Toggle between showing between the deepsynth vs watershed segmentation.
function seg_opt_on_change(){
    var opt = $("#seg_opt").val();
    console.log(opt);
    if( opt==="deepsynth" )
    {
      $('#deepsynth-content').css('display','block');
      $('#watershed-content').css('display','none');
    }
    else
    {
      $('#deepsynth-content').css('display','none');
      $('#watershed-content').css('display','block');
    }
}

//Updates the channels with the color selected.
function update_channel_color() {
//<form id="channels_form" method="post" channel-update-demo-url="{% url 'photos:update_channel_color_demo' %}">

document.getElementById("update_viz_feedback").innerHTML = "Please wait.";
speedTest();
var form = $("#channels_form");
  console.log(form.serialize());
    $.ajax({
          url: form.attr("channel-update-demo-url"),
          data: form.serialize(),
          dataType: 'json',
          success: function (data) {
            console.log(data);
            var urlarraycolor =[];
            var len = data.color_file_list.length;
            console.log(len);
            var i;
            for (i=0; i<len;i++ )
            {
              urlarraycolor[i] = data.color_dirpath.concat(data.color_file_list[i]);
            }             
            console.log(data.color_dirpath);
            console.log(data.color_file_list[0]);
            console.log(urlarraycolor[0]);
            var slider = document.getElementById("myRange");

            document.getElementById("imageid").src=urlarraycolor[(slider.value-1)] + "?rand="+Math.random().toString(36).substring(7)  ;
            
            slider.oninput = function() {
              document.getElementById("imageid").src=urlarraycolor[(this.value-1)] + "?rand="+Math.random().toString(36).substring(7) ;
            };
            //setTimeout(
            //  function() 
            //  {
            //    location.reload();
            //  }, 0001);
            document.getElementById("update_viz_feedback").innerHTML =  "2D Slices Channel Color Update Finished.";
            document.getElementById("previewsubparent").style.display = "block";
            $('#viz-3d-block').css('display','none');
          }
          });
}

//Feb 17, 2020
//Alain 
//Updates the channels slice by slice.
var update_slice_has_been_clicked = false;
var has_been_updated = new Array({{num_z}}).fill(false);

function reset_update_channel_color_slice(has_been_clicked){
  update_slice_has_been_clicked = has_been_clicked;
  console.log(has_been_clicked);
  has_been_updated = new Array({{num_z}}).fill(false);
  $('#viz-3d-block').css('display','none');
  document.getElementById("previewsubparent").style.display = "block";
}


function update_channel_color_slice() {
//console.log(update_slice_has_been_clicked);
//console.log(has_been_updated);
//<form id="channels_form" method="post" channel-update-url="{% url 'photos:update_channel_color_slice' %}">
//document.getElementById("update_viz_feedback").innerHTML = "Please wait.";
//speedTest();
    var slider = document.getElementById("myRange");
    var current_slice = slider.value-1;
    $('#curr_slice').val(current_slice);

    var form = $("#channels_form");

    console.log(update_slice_has_been_clicked);
    console.log(has_been_updated[current_slice]);
    if(!update_slice_has_been_clicked || has_been_updated[current_slice])
    {
      document.getElementById("imageid").src=urlarraycolor[current_slice]+ "?rand="+Math.random().toString(36).substring(7);
    }
    else
    {
    //document.getElementById("update_viz_feedback").innerHTML = "Please wait.";
      $.ajax({
          url: form.attr("channel-update-demo-url"),
          data: form.serialize(),
          dataType: 'json',
          success: function (data) {
            /*
            Not sure if we need to reset the slider input like this.
            slider.oninput = function() {
              document.getElementById("imageid").src=urlarraycolor[(this.value-1)] + "?rand="+Math.random().toString(36).substring(7) ;
            };
            document.getElementById("update_viz_feedback").innerHTML =  "2D Slices Channel Color Update Finished.";          
            */
            
            //Return the single image in data.image or something like that.
            //Update the entry for urlarraycolor.
            urlarraycolor[current_slice] =  data.color_dirpath.concat(data.color_file)  + "?rand="+Math.random().toString(36).substring(7);
            //Update the current image.
            document.getElementById("imageid").src=urlarraycolor[current_slice]+ "?rand="+Math.random().toString(36).substring(7);
            //console.log(document.getElementById("imageid").src);
            //Mark this as being updated.
            has_been_updated[current_slice]=true;
            
            
            console.log(data.message);
            console.log(update_slice_has_been_clicked);
            console.log(slider.value-1);
          }
      });
      //document.getElementById("update_viz_feedback").innerHTML = "";
    }
}


//After clicking this, we should generate the cvs file and the scatterplot.
function workflow_quantification() {
    var form = $("#quantification_form");
    $.ajax({
          url: form.attr("workflow-quantification-url"),
          data: form.serialize(),
          dataType: 'json',
          success: function (data) {
              //alert(data.message);
              console.log(data.rad);
              $('#interactive-block').css('background-color', 'white');
              $('#interactive-block-button').css('background-color', 'white');
              $('#interactive-block-button').attr('disabled', false);
              $('#interactive-block-content').css('display','block');              
              $('#interactive-block-display').css('display','block');
              $('#highlight-content').css('display','none');
              $('#scatterplot-block').css('display','block');
			  $('#scatterplot-block-content').css('display','block');
              
              
              $('#nuc-preview-wrapper').css('display','none');
			  $('#segmentation-div').css('display','none');
			  $('#processing_steps_div').css('display','none');
			  
              $('#previewsubparent').css('display','none');
              $('#nuc-preview-content').css('display','none');
              $('#preview-process-content').css('display','none');
              $('#result-process-content').css('display','none');
              $('#preview-seg-content').css('display','none');
              $('#segment-process-content').css('display','none');
			  $('#segmentation-div').css('display','none');
			  $('#result-process-block').css('display','none');
			  $('#segment-process-block').css('display','none');
			  
              $('#csv_download').attr('href',data.csv_link);
              $('#scatterplot_image').attr('src',data.scatter_link);
			  
              
              var file1= data.file_list[0];
              $('#interactive_results').attr('src',data.viz_link+"/"+file1);
              
              var urlarraycolor =[];
              
              for( i = 0; i < data.file_list.length; i++ )
              {
                urlarraycolor[i] = data.viz_link+"/"+data.file_list[i];
              }
            
              var slider = document.getElementById("myRangeInteractive");
              slider.oninput = function() {
                document.getElementById("interactive_results").src=urlarraycolor[(this.value-1)];
              };
          }
        });
    return false;
}

//Updates the csv and scatterplot.
function update_workflow_quantification() {
    var form = $("#update_quantification_form");
    $.ajax({
          url: form.attr("update-workflow-quantification-url"),
          data: form.serialize(),
          dataType: 'json',
          success: function (data) {
              //alert(data.message);
              console.log(data.rad);
              $('#interactive-block').css('background-color', 'white');
              $('#interactive-block-button').css('background-color', 'white');
              $('#interactive-block-button').attr('disabled', false);
              $('#interactive-block-content').css('display','block');              
              $('#interactive-block-display').css('display','block');
              $('#scatterplot-block').css('display','block');  
			  $('#scatterplot-block-content').css('display','block');
              $('#nuc-preview-wrapper').css('display','none');
			  $('#segmentation-div').css('display','none');
			  $('#processing_steps_div').css('display','none');
			  $('#segment-process-block').css('display','none');
              
              $('#csv_download').attr('href',data.csv_link);
              $('#scatterplot_image').attr('src',data.scatter_link);
              
              var file1= data.file_list[0];
              $('#interactive_results').attr('src',data.viz_link+"/"+file1);
              
              var urlarraycolor =[];
              
              for( i = 0; i < data.file_list.length; i++ )
              {
                urlarraycolor[i] = data.viz_link+"/"+data.file_list[i];
              }
            
              var slider = document.getElementById("myRangeInteractive");
              slider.oninput = function() {
                document.getElementById("interactive_results").src=urlarraycolor[(this.value-1)];
              };
          }
        });
    return false;
}

var urlarraynuc = [];
//Gives a preview with the current parameters of only the processing.
function workflow_preview_processing() {
  console.log('workflow_preview_processing');
  var form = $("#processing_form");
  
  $.ajax(
    {
      url: form.attr("workflow-preview-url"),
      data: form.serialize(),
      dataType: 'json',
      success: function (data) {
          
          $('#preview-process-block').css('display','block');
          $('#previewsubparent').css('display','none');
          $('#nuc-preview-content').css('display','none');
          $('#preview-process-content').css('display','block');
          $('#result-process-content').css('display','none');
          $('#preview-seg-content').css('display','none');
          $('#segment-process-content').css('display','none');
          $('#interactive-block-content').css('display','none');
          $('#scatterplot-block-content').css('display','none');
          $('#nuc-preview-wrapper').css('display','none');
		  $('#segment-process-block').css('display','none');

          
          var file1= data.file_list[0];
          $('#imagepreviewid').attr('src',data.viz_link+"/"+file1);
          
          for( i = 0; i < data.file_list.length; i++ )
          {
            urlarraynuc[i] = data.viz_link+"/"+data.file_list[i];
          }
        
          var slider = document.getElementById("myRangePreview");

          slider.oninput = function() {
            document.getElementById("imagepreviewid").src=urlarraynuc[(this.value-1)];
          };
          $('#seg_prev_button').prop('disabled',false);
      }
    }
  );
  
  return false;
}

//Performs the image processing steps
function workflow_processing() {
  console.log('workflow_processing');
  
  var form = $("#processing_form");
  
  $.ajax({
        url: form.attr("workflow-process-url"),
        data: form.serialize(),
        dataType: 'json',
        //type: 'post',
        success: function (data) {
          $('#result-process-block').css('display','block');
          $('#preview-process-block').css('display','none');
		  
		  $('#segmentation-div').css('display','block');
          $('#processing_steps_div').css('display','none');
          $('#nuc-preview-wrapper').css('display','none');
		  
          $('#previewsubparent').css('display','none');
          $('#nuc-preview-content').css('display','none');
          $('#preview-process-content').css('display','none');
          $('#result-process-content').css('display','block');
          $('#preview-seg-content').css('display','none');
          $('#segment-process-content').css('display','none');
          $('#interactive-block-content').css('display','none');
          $('#scatterplot-block-content').css('display','none');
		  $('#segment-process-block').css('display','none');
          
          var file1= data.file_list[0];
          $('#resultprocessid').attr('src',data.viz_link+"/"+file1);
          
          var urlarraycolor =[];
          
          for( i = 0; i < data.file_list.length; i++ )
          {
            urlarraycolor[i] = data.viz_link+"/"+data.file_list[i];
          }
        
          var slider = document.getElementById("myRangeResultProcess");

          slider.oninput = function() {
            document.getElementById("resultprocessid").src=urlarraycolor[(this.value-1)];
          };
          
          /*$('#seg_prev_button').prop('disabled',false);*/
          $('#seg_button').prop('disabled',false);
          $('segmentation-div').css('display','block');
        }
      });
  
  return false;
}


//Gives a preview with the current parameters for segmentation
function workflow_seg_preview() {
  console.log('workflow_seg_preview');
  var form = $("#segment_form");
  
  $.ajax({
        url: form.attr("workflow-segmentation-prev-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
            
            $('#preview-seg-block').css('display','block');
            $('#preview-process-block').css('display','none');
            $('#result-process-block').css('display','none');
            $('#nuc-preview-wrapper').css('display','none');
            
            $('#previewsubparent').css('display','none');
            $('#nuc-preview-content').css('display','none');
            $('#preview-process-content').css('display','none');
            $('#result-process-content').css('display','none');
            $('#preview-seg-content').css('display','block');
            $('#segment-process-content').css('display','none');
            $('#interactive-block-content').css('display','none');
            $('#scatterplot-block-content').css('display','none');
			$('#segment-process-block').css('display','none');
            
            var file1= data.file_list[0];
            $('#segpreviewid').attr('src',data.viz_link+"/"+file1);
            $('#origpreviewid').attr('src',urlarraynuc[0]);
            
            var urlarraycolor =[];
            
            for( i = 0; i < data.file_list.length; i++ )
            {
              urlarraycolor[i] = data.viz_link+"/"+data.file_list[i];
            }
          
            var slider = document.getElementById("myRangeSegPreview");
            

            slider.oninput = function() {
              document.getElementById("segpreviewid").src=urlarraycolor[(this.value-1)];
              document.getElementById("origpreviewid").src=urlarraynuc[(this.value-1)];
            };
            
        }
      });
  
  return false;
}

//Performs the actual segmentation
function workflow_seg() {
  console.log('workflow_seg');
  var form = $("#segment_form");

  $.ajax({
        url: form.attr("workflow-segmentation-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
        
            $('#quantification-block').css('background-color', 'white');
            $('#quantification-block-content').css('display','block')
            $('#quantification-block-button').css('background-color', 'white');
            $('#quantification-block-button').attr('disabled', false);
            
            $('#segment-process-block').css('display','block');
            $('#preview-process-block').css('display','none');
            $('#result-process-block').css('display','none');
            $('#preview-seg-block').css('display','none');
            $('#nuc-preview-wrapper').css('display','none');
            
            $('#previewsubparent').css('display','none');
            $('#nuc-preview-content').css('display','none');
            $('#preview-process-content').css('display','none');
            $('#result-process-content').css('display','none');
            $('#preview-seg-content').css('display','none');
            $('#segment-process-content').css('display','block');
            $('#interactive-block-content').css('display','none');
            $('#scatterplot-block-content').css('display','none');
			$('#analysis-block-content').css('display','none');
            $('#segmentation-div').css('display','none');
            
            var file1= data.file_list[0];
            $('#imagesegmentid').attr('src',data.viz_link+"/"+file1);
            
            var urlarraycolor =[];
            
            for( i = 0; i < data.file_list.length; i++ )
            {
              urlarraycolor[i] = data.viz_link+"/"+data.file_list[i];
            }
          
            var slider = document.getElementById("myRangeSegment");

            slider.oninput = function() {
              document.getElementById("imagesegmentid").src=urlarraycolor[(this.value-1)];
            };
            
        }
      });
  return false;
}

//Change to the selected image volume
function change_image(){
  var x = document.getElementById("image_select");
  //alert(x.value);
  
  var form = $("#imsel_form");

  $.ajax({
        url: form.attr("imsel-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          console.log(data);
          setTimeout(
          function() 
          {
             location.reload();
          }, 0001);
        }
        });
}

function toggle_viz_cor_button(){
  var x = document.getElementById("viz_cor");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  
  var x = document.getElementById("analysis-block-content");
  x.style.display = "none";
  var x = document.getElementById("process_hint");
  x.style.display = "none";
  var x = document.getElementById("processing_steps_div");
  x.style.display = "none";
  var x = document.getElementById("segmentation-div");
  x.style.display = "none";
  var x = document.getElementById("quantification-block-content");
  x.style.display = "none";
  var x = document.getElementById("interactive-block-content");
  x.style.display = "none";
}

function toggle_process_steps_button(){
  var x = document.getElementById("processing_steps_div");
  if (x.style.display === "none") {
    x.style.display = "block";
    var y = document.getElementById("process_hint");
    y.style.display = "block";
  } else {
    x.style.display = "none";
  }
  
  
  var x = document.getElementById("viz_cor");
  x.style.display = "none";
  var x = document.getElementById("segmentation-div");
  x.style.display = "none";
  var x = document.getElementById("quantification-block-content");
  x.style.display = "none";
  var x = document.getElementById("interactive-block-content");
  x.style.display = "none";
}


function toggle_seg_steps_button(){
  var x = document.getElementById("segmentation-div");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  
  var x = document.getElementById("viz_cor");
  x.style.display = "none";
  var x = document.getElementById("analysis-block-content");
  x.style.display = "none";
  var x = document.getElementById("processing_steps_div");
  x.style.display = "none";
  var x = document.getElementById("quantification-block-content");
  x.style.display = "none";
  var x = document.getElementById("interactive-block-content");
  x.style.display = "none";
}

function toggle_quantification_button(){
  var x = document.getElementById("quantification-block-content");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  
  var x = document.getElementById("viz_cor");
  x.style.display = "none";
  var x = document.getElementById("analysis-block-content");
  x.style.display = "none";
  var x = document.getElementById("processing_steps_div");
  x.style.display = "none";
  var x = document.getElementById("segmentation-div");
  x.style.display = "none";
  var x = document.getElementById("interactive-block-content");
  x.style.display = "none";
}

function toggle_interactive_button(){
  var x = document.getElementById("interactive-block-content");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  
   var x = document.getElementById("viz_cor");
  x.style.display = "none";
  var x = document.getElementById("analysis-block-content");
  x.style.display = "none";
  var x = document.getElementById("processing_steps_div");
  x.style.display = "none";
  var x = document.getElementById("segmentation-div");
  x.style.display = "none";
  var x = document.getElementById("quantification-block-content");
  x.style.display = "none";
}

//Show/Hide the upload button
function toggle_upload_button() {
  var x = document.getElementById("upload-block-content");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function toggle_nuc_preview_button(){
 var x = document.getElementById("nuc-preview-content");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


{% ifnotequal color_dirpath "None" %}
//Slider for individual channel previews.
var urlarray =[];
{% for im in file_list %}   
  urlarray[{{forloop.counter0}}] = "{{dirpath|add:im | safe}}";
{% endfor %}
   
{% with ''|center:num_ch as channels %}
{% for _ in channels %}
    var slider = document.getElementById("myRange_{{ forloop.counter }}");

    slider.oninput = function() {
      document.getElementById("imageid_{{forloop.counter}}").src=urlarray[(this.value-1)*{{num_ch}}+{{forloop.counter}}-1];
    };
{% endfor %}
{% endwith %}
{% endifnotequal %}


//Toggles between hide and show the images
function toggle_analysis_button() {
  var x = document.getElementById("analysis-block-content");
  if (x.style.display === "none") {
    x.style.display = "block";
    var z = document.getElementById("processing_steps_div");
    z.style.display = "block";
    var y = document.getElementById("process_hint");
    y.style.display = "block";
    
  } else {
    x.style.display = "none";
    var z = document.getElementById("processing_steps_div");
    z.style.display = "none";
    var y = document.getElementById("process_hint");
    y.style.display = "none";
  }

  var x = document.getElementById("viz_cor");
  x.style.display = "none";
  var x = document.getElementById("segmentation-div");
  x.style.display = "none";
  var x = document.getElementById("quantification-block-content");
  x.style.display = "none";
  var x = document.getElementById("interactive-block-content");
  x.style.display = "none";
}

function toggle_viz_button() {
  var x = document.getElementById("previewsubparent");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function toggle_preview_proc_button() {
  var x = document.getElementById("preview-process-content");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function toggle_process_button() {
  var x = document.getElementById("result-process-content");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function toggle_preview_seg_button() {
  var x = document.getElementById("preview-seg-content");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


function toggle_seg_button() {
  var x = document.getElementById("segment-process-content");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


function toggle_highlight_button() {
  var x = document.getElementById("highlight-content");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function toggle_3D_visualization(){
  var x = document.getElementById("viz-3d-block");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function toggle_scatterplot_button() {
  var x = document.getElementById("scatterplot-block-content");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

//Change the display when option selected changes
function addElement(parentId, elementTag, elementId, html) {
    // Adds an element to the document
    var p = document.getElementById(parentId);
    var newElement = document.createElement(elementTag);
    newElement.setAttribute('id', elementId);
    newElement.innerHTML = html;
    p.appendChild(newElement);
}
function removeElement(elementId) {
    // Removes an element from the document
    var element = document.getElementById(elementId);
    element.parentNode.removeChild(element);
}


var procId = 0; // used by the addFile() function to keep track of IDs
function addProcess() {
    procId++; // increment procId to get a unique ID for the new element
    var html = '<div id="proc-' + procId + '" style="border-style:solid; margin-bottom:1px;">'+
          'Processing Step '+
          '<select name=operation[]  id="operation-' + procId + '"  style="margin-left:0px;  width:175px;" onchange="changeProcessOption(' + procId + ')">'+
          //'<option value="none" selected="selected">No operation</option>'+
          //'<option value="downsampling" selected="selected">Downsampling</option>'+
          '<option value="smoothing">Gaussian Smoothing</option>'+
          '<option value="thresholding">Thresholding/Clamping</option>'+
          '<option value="morph">Morphology</option>'+
          //'<option value="watershed">Watershed</option>'+
          '<option value="rollingball">Rolling Ball Background Subtraction</option>'+
          '<option value="medianfilter">Median Filter</option>'+
          '<option value="mediansub">Median Background Subtraction </option>'+
          '</select>'+
          /*'<div id=downsampling_div-' + procId + '>'+
          'Downsampling Rate:'+
          '  <select name=resolution[]  style="margin-left: 0px;">'+
          '    <optgroup label = "What level of resolution do you want for visulization?">'+
          '    <option disabled>--- Please Select ---</option>'+
          '    <option value="8x" selected="selected" >8x down-sampling</option>'+
          '    <option value="4x">4x down-sampling</option>'+
          '    <option value="2x">2x down-sampling</option>'+
           '   </optgroup>'+
           ' </select>'+
          '</div>'+*/
          ' <input type="button" value="Remove Step"  class="btn btn-danger" onclick="javascript:removeElement(\'proc-' + procId + '\');">'+
          ' <div id=smoothing_div-' + procId + '>'+
          'Kernel Size: <input type="number" name=k_size[] value=3 min=3 max=21 step=2 > '+
          '<font size=1.5 style="border-bottom: 1px dotted black;" title="Enter an odd integer between 3 and 21."> Hover for Tips </font>  '+
          '<br> '+
          'Sigma: <input type="number" name=sigma[]  value=0 min=0 step="any"> '+
          '<font size=1.5 style="border-bottom: 1px dotted black;" title="Enter any non-negative real number. Put in \'0\' for automatically-determined sigma based on kernel size."> Hover for Tips </font> '+
          '</div>'+
          '<div id=thresholding_div-' + procId + ' style="display:none">'+
          '  Thresholding or Clamping?'+
          '  <select name=threshtype[]  style="margin-left: 0px;">'+
          '    <optgroup label = "Thresholding or Clamping?">'+
          '    <option disabled>--- Please Select ---</option>'+
           '   <option value="bi" selected="selected" >Thresholding</option>'+
          '    <option value="cl">Clamping</option>'+
          '    </optgroup>'+
          '  </select>'+
          '<br>Threshold:  <output name=showThresh[] id="showThresh-' + procId + '">30</output> <br>'+
          '<input type="range" min=1 max=255 value=30 class="slider" name=threshold[] id="threshold-' + procId + '" oninput="changeSliderValue(' + procId + ')">'+
          '</div>'+
          '<div id=morph_div-' + procId + ' style="display:none">'+
          '  Morphological operation:'+
          '  <select name=morph_type[] id="morph_type"  style="margin-left: 0px; margin-top: 10px;   ">'+
          '    <optgroup label = "Type of morphological operation">'+
          '    <option disabled>--- Please Select ---</option>'+
          '    <option value="erosion" selected="selected">Erosion</option>'+
          '    <option value="dilation">Dilation</option>'+
          '    <option value="opening">Opening</option>'+
          '    <option value="closing">Closing</option>'+
          '    </optgroup>   '+
          '  </select>   '+
          '  <br>Structuring Element Type:'+
          '  <select name=se_type[] id="se_type"  style="margin-left: 0px; margin-top: 10px;   ">'+
          '  <optgroup label = "Type of structing element">'+
          '  <option disabled>--- Please Select ---</option>'+
          '  <option value="rect" selected="selected" >Square</option>'+
          '  <option value="ellipse">Circular</option>'+
          '  <option value="cross">Cross</option>'+
          '  </optgroup>   '+
          '  </select>   '+
          '<br>Structuring Element Size:'+
          '<input type="number" name=se_size[] id="se_size" value=3 min=2 step=1 >'+
          '</div>'+
          '<div id=rollingball_div-' + procId + ' style="display:none">'+
          '  </select>'+
          'Rolling ball radius: <input type="number" name=ball_size[] value=30 min=1 step="any">'+
          '</div>'+
          '<div id=watershed_div-' + procId + ' style="display:none">'+
          '  <h3>This step performs watershed</h3>'+
          '</div>'+
          '<div id=medianfilter_div-' + procId + ' style="display:none">'+
          'Median filter kernel size: <input type="number" name=mediankernel[] value=5 min=3 max=65 step=2>'+
          '</div>'+
          '<div id=mediansub_div-' + procId + ' style="display:none">'+
          'Median subtraction filter kernel size: <input type="number" name=mediansubkernel[] value=31 min=7 max=65 step=2>'+
          '</div>'+
          '</div>';
    addElement('processes', 'div', 'proc-' + procId, html);
}

function changeSliderValue(procId)
{
    var th = document.getElementById("threshold-"+procId);
    var thresh = th.value;
    var sth = document.getElementById("showThresh-"+procId);
    sth.value=thresh;
}

function changeSegSliderValue()
{
    var th = document.getElementById("seg_thresh_slider");
    var thresh = th.value;
    var sth = document.getElementById("seg_thresh");
    sth.value=thresh;
    var hidden_seg = document.getElementById("seg_thresh_val");
    hidden_seg.value=thresh;
}

function changeProcessOption(procId)
{
   var e = document.getElementById("operation-"+procId);
   var opt = e.options[e.selectedIndex].value; 
   

    //document.getElementById("downsampling_div-"+procId).style.display = "none"; 
    document.getElementById("smoothing_div-"+procId).style.display = "none"; 
    document.getElementById("thresholding_div-"+procId).style.display = "none"; 
    document.getElementById("morph_div-"+procId).style.display = "none"; 
    document.getElementById("rollingball_div-"+procId).style.display = "none"; 
    //document.getElementById("watershed_div-"+procId).style.display = "none"; 
    document.getElementById("medianfilter_div-"+procId).style.display = "none"; 
    document.getElementById("mediansub_div-"+procId).style.display = "none"
    document.getElementById(opt+"_div-"+procId).style.display = ""; 

   
}


</script>  


 {% ifnotequal color_dirpath "None" %}
  
<script type="text/javascript">
  //Slider for the composite image.
var urlarraycolor =[];
{% for im in color_file_list %}   
  urlarraycolor[{{forloop.counter0}}] = "{{color_dirpath|add:im | safe}}"  + "?rand="+Math.random().toString(36).substring(7); 
{% endfor %}
   
/*var slider = document.getElementById("myRange_color");

slider.oninput = function() {
  document.getElementById("imageid_color").src=urlarraycolor[(this.value-1)];
};*/
window.onload = function() {
document.getElementById("imageid").src=urlarraycolor[20-1];
console.log(urlarraycolor);
};

var slider_demo = document.getElementById("myRange");

slider_demo.oninput = update_channel_color_slice;




</script>
 {% endifnotequal %}


<style>
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d0d0d0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 25px;
  background: #4C50AF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}


.slider.ch_slider {
  width: 20%;
  display: inline;
}


#myRange_color {
  width: 200px;
}

#myRange {
  width: 400px;
}

.dinavid-block {
  border: solid;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.dinavid-block button h3{
  margin-top: 0px;
  margin-bottom: 0px;
}

.dinavid-block h2 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.column-left .dinavid-block {
	background-color: gray;	
}

.column-left .dinavid-block button {
	background-color: gray;	
    width: 100%;
}

//The blocks on the right should have a white background
.column-right .dinavid-block {
	background-color: white;	
}

#upload-block {
    background-color: white;	
}

#network-test {
    background-color: white;	
}

#network-test-button {
    background-color: white;	
}

#analysis-block-content {
    display : none;
}

.boxwrapper{
  //width:75%;
  height:300px;
}

.box{
  float:left; 
  margin-left:5px;
  margin-right:5px;
  height:100%;
  width:15%;
}


{% ifnotequal color_dirpath "None" %}
    #visualization-block {
      background-color: white;	
  }
  
  #visualization-block-button {
      background-color: white;	
  }

  #analysis-block {
      background-color: white;	
  }
  
  #visualization-correction-block {
      background-color: white;	
  }
  
  #visualization-correction-button {
      background-color: white;	
  }
  
  #imsel {
  background-color: white;	
  border: solid;
  width:25%;
  margin: 1px;
  }
  
  /*#analysis-block-button {
      background-color: white;	
  }
  
  #segmentation-block-button{
    background-color: white;	
  }*/
  
  #segmentation-block{
    background-color: white;	
  }


{% with ''|center:num_ch as channels %}
{% for _ in channels %}
#myRange_{{forloop.counter}} {
  width: 150px;
  //margin-left: 15px;
}
{% endfor %}
{% endwith %}
{% endifnotequal %}



//To show small section of preview
.container {
  position: relative;
  width: 150px;
  height: 150px;
}
.clip {
  position: absolute;
  clip: rect(200px, 350px, 350px, 200px);
  -webkit-clip: rect(200px, 350px, 350px, 200px);
  margin-left: -215px;
  margin-top: -175px;
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}

/*
#origpreviewid {
  position: absolute;
  clip: rect({% widthratio shape.0 5 2 %}px, {% widthratio shape.0 5 3 %}px, {% widthratio shape.1 5 3 %}px, {% widthratio shape.1 5 2 %}px);
  -webkit-clip: rect({% widthratio shape.0 5 2 %}px, {% widthratio shape.0 5 3 %}px, {% widthratio shape.1 5 3 %}px, {% widthratio shape.1 5 2 %}px);
  margin-left: -{% widthratio shape.0 10 3 %}px;
  margin-top: -{% widthratio shape.0 5 2 %}px;
}
*/
</style>

<!--The CSS needed to display content as 2 columna-->
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  //height: 3000px; /* Should be removed. Only for demonstration */
}

.column-left {
  width:15%;
}

.column-mid {
  width:35%;
}

.column-right {
  width:50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#dinavid_wrapper {
 width : 100%;
}
</style>

<!-- CSS for toggle switch-->
<style>
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
</style>

<!--for showing range values -->
<style>
output { 
  //position: absolute;
  background-image: linear-gradient(top, #444444, #999999);
  width: 28%; 
  height: 30px; 
  text-align: center; 
  color: black; 
  border-radius: 10px; 
  display: inline-block; 
  font: bold 15px/30px Georgia;
  bottom: 0%;
  left: 0;
  margin-left: -1%;
}

</style>


<!-- CSS for tool tips -->

{% endblock %}
