{% extends 'base.html' %}

{% block content %}


  <h1 class="page-header" style="margin:0px;">
     {% block title %}{% endblock %}
  </h1>

    <div class="col-md-9">
      {% block photos_content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
