{% extends 'base_compact.html' %}

{% block content %}

    <div class="compact_content"><!--class="col-md-9">-->
      {% block photos_content %}
      {% endblock %}
    </div>
 
    <style>
    .compact_content {
      margin: 5px;
    }
    </style>
{% endblock %}
