{% extends 'photos/base.html' %}

{% load static %}

{% load subtract %}

{% block title %}Select or Upload Volume {% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
								  

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'photos/js/drag-and-drop-upload.js' %}"></script>
{% endblock %}

{% block photos_content %}

<p> If you are not familiar with DINAVID, please refer to the <a href="{% url 'photos:tool_intro' %}"><font color = #B03A2E >Tutorial</font></a>
         on how to use dinavid.</p>

<form id="imsel_form" method="post" imsel-url="{% url 'photos:select_image_display' %}" style="display:inline-block">
    <input type="hidden" name="next" value="{{ request.path }}">
    Select Volume to Process: 
    <select name=image_select id="image_select" style="display:inline-block; width: 100%">
    <optgroup label = "Select the image you want to process" >
    <<!--option disabled>--- Please Select ---</option>-->
      
    {% for p in imagepaths %}  
      
      <option value="{{p}}" {% ifequal p im_name%} selected {% endifequal %}>{{p}}</option>  
    {% endfor %}
    </optgroup>
    </select> 
    </form>
    <button id="imsel" onclick="change_image()" class="btn" style="display:inline-block">Go</button>

	<br>
	or
	
	<br>
	Upload Volume
	
	<div id='upload-block' class='dinavid-block'>      
      <div class="text-muted" id="upload_box_text">
        <!--<span class="glyphicon glyphicon-arrow-down" style="font-size: 4rem;"></span>-->
        <button id="upload" type="button" class="btn btn-primary js-upload-photos">
          <span class="glyphicon glyphicon-cloud-upload"></span> Select Volume to Upload <br> (composite tiff only)
        </button>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="fileupload" type="file" name="file"
               style="display: none;"
               accept=".tif, .tiff">
               <!--multiple-->
        <div>
          <button class="btn btn-primary" id='upload-button' onclick=upload_icon()>Upload</button>
        </div>       
        </form>
		 <p id="upload-hint"></p>
      </div>
        
  </div>  <!-- end upload block -->
  
	<!--<br>
	Please refer to 
	<br>
	S. Winfree and T. El-Achkar, "<a target="_blank" href="https://doi.org/10.5281/zenodo.5816199">Human kidney cortex confocal reference dataset 1,</a>" <i>Zenodo</i>, 2022. Available from: 
	<a target="_blank" href="https://doi.org/10.5281/zenodo.5816199">https://doi.org/10.5281/zenodo.5816199</a>. doi:10.5281/zenodo.581
	<br>
	for an example test volume.
	<br>-->

<script>
//Shows the upload spinning wheel.
function upload_icon()
{
$("#upload-hint").html("<img src=\"../../media/model_image/loadingimage.gif\"/>Please wait... Uploading Image...");
}

//Change the image to be displayed
function change_image(){
  x =  document.getElementById("image_select");
  
  form = $("#imsel_form");

  $.ajax({
        url: form.attr("imsel-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          window.location.assign("{% url 'photos:workflow_compact' %}");
		  //location.reload();
          console.log("data " + data.folder);
        }
  });
}
</script>
{% endblock %}

