{% extends 'photos/base_compact.html' %}

{% load static %}

{% load subtract %}

{% block title %}Psuedo 3D Nov 3 {% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
  <!--Liming Added for Progress Bar-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
								  

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'photos/js/drag-and-drop-upload.js' %}"></script>
{% endblock %}

{% block photos_content %}
<!--
<h4> This page is intended as a playground for testing</h3>
<h4> Once we are satisfied with the changes, move it to the actual workflow/index_compact.html</h4>
-->
<div id="dinavid_wrapper" class="row">

<!-- begin first column. This column will be used for control -->
<div class="column column-left"><!--style="background-color:#aaa;">-->
  <h4 style="margin-top:0px">Indiana O’Brien Center for
Advanced Renal Microscopy Interactive 3D Image Analysis</h4>


    <div id="bottom-footer">

   Copyright 2020 - The Board of Trustees of Purdue University - All rights reserved
  </div>

</div> <!-- end first column -->

<!-- The middle column, which hosts the control panels for the varius parameters.-->
<div class="column column-mid" style="background-color:#EEEEEE;">
  
    
    {% ifnotequal color_dirpath "None" %}
    <!-- Channel color picker-->
    <div id='viz_cor' style='display:block'>
     <font size=4> Channel Color Picker </font><br>
     <form id="channels_form" method="post" channel-update-url="{% url 'photos:update_channel_color' %}" channel-update-slice-url="{% url 'photos:update_channel_color_slice' %}" channel-update-name-url="{% url 'photos:update_channel_name' %}" channel-update-params-url="{% url 'photos:update_channel_params' %}"> {% csrf_token %}
      
      
      <input type="hidden" value={{num_ch}} name="num_ch">
      {% with ''|center:num_ch as channels %}
            {% for _ in channels %}
              <input type='text' value="Channel {{forloop.counter}}" name="ch_name[]" id="ch_name_{{forloop.counter}}" size="8">
              color: <input type="color" id="ch_color_{{forloop.counter0}}" name="ch_color[]" value="{{ch_color_list.0}}" 
              onchange="update_rot_img(x_rot,y_rot)"> 
              On/Off: 
              <input type="hidden" name="dis_ch[]" value=1 id="dis_ch_hid_{{forloop.counter0}}" >
              <input type="checkbox" id="dis_ch_{{forloop.counter0}}" value='1' checked onchange="document.getElementById('dis_ch_hid_{{forloop.counter0}}').value = 1 - document.getElementById('dis_ch_hid_{{forloop.counter0}}').value; update_rot_img(x_rot,y_rot);">

            <br> 
            {% endfor %}
      {% endwith %}
      <font size=4> 2D Gamma, Brightness, and Offset Selector </font><br>
      <table id='selector_panel'>
      {% with ''|center:num_ch as channels %}
            {% for _ in channels %}
              <!-- <p>Channel {{forloop.counter}}</p> -->
              <tr>
                <th>
                  <label name="ch_label_{{forloop.counter}}">Channel {{forloop.counter}}</label>
                </th>
              </tr>


              <tr>
                <td> 
                  Gamma: </td>
                <td>
                  <input type="range" style="width:150px" min=0.05 max=3 step=0.05 value=1 class="slider ch_slider" name="ch_gamma[]" id="ch_gamma_{{forloop.counter0}}"  
                  onmousemove="document.getElementById('gamma{{forloop.counter0}}').value = this.value;" 
                  onchange="update_rot_img(x_rot,y_rot)">
                </td>
                <td>
                  <output id="gamma{{forloop.counter0}}" name="gamma[]" for="ch_gamma_{{forloop.counter0}}" oninput="value = ch_gamma_{{forloop.counter0}}.valueAsNumber;">1</output>
                </td>
              </tr>                                                                                                           

              <tr>
                <td>
                  Brightness: 
                </td>
                <td>
                  <input type="range" style="width:150px" min=0 max=10 step=0.05 value=1 class="slider ch_slider" name="ch_brightness[]" id="ch_brightness_{{forloop.counter0}}" 
                  onmousemove="document.getElementById('bright{{forloop.counter0}}').value = this.value;" 
                  onchange="update_rot_img(x_rot,y_rot)">
                </td>
                <td>
                  <output id="bright{{forloop.counter0}}" name="bright[]" for="ch_brightness_{{forloop.counter0}}" oninput="value = ch_brightness_{{forloop.counter0}}.valueAsNumber;">1</output>
                </td>
              </tr>  

              <tr>
                <td>    
                  Offset: 
                </td>
                <td> 
                  <input type="range" style="width:150px" min=-1 max=1 step=0.05 value=0 class="slider ch_slider" name="ch_offset[]" id="ch_offset_{{forloop.counter0}}" 
                  onmousemove="document.getElementById('offset{{forloop.counter0}}').value = this.value;" 
                  onchange="update_rot_img(x_rot,y_rot)">
                </td>
                <td>
                  <output id="offset{{forloop.counter0}}" name="offset[]" for="ch_offset_{{forloop.counter0}}" oninput="value = ch_offset_{{forloop.counter0}}.valueAsNumber;">0</output>
                </td>
              </tr>
            {% endfor %}
      {% endwith %}
      </table>
      
      <br>
      <input type="hidden" id="curr_slice" name="curr_slice" value=19>
      <input type="hidden" id="to_update_proj_ch" name="to_update_proj_ch" value=0>
      
      </form>

      
      
    </div>
  
    {% endifnotequal %}
</div>

<!-- start second column. This column is used to display the images and results -->
<div class="column column-right" style="background-color:#bbb;">

<div id="rot_panel">
<font size=4> 
<button onclick="gen_color_rot('x',-1)" class="btn">-</button> 
<button onclick="gen_color_rot('x',1)" class="btn">+</button> 
 X-Rotation: <label id="x_rot">0</label> degrees <br>
 <button onclick="gen_color_rot('y',-1)" class="btn">-</button> 
<button onclick="gen_color_rot('y',1)" class="btn">+</button> 
Y-Rotation: <label id="y_rot">0</label> degrees <br>
</font>
<div id="rot_panel">
<img id="rot_imgs" src="{{rotations_path}}/rot_0x_0y_ch00.png" onError="this.onerror=null; this.src='../../media/model_image/uploadimage.jpg'">


 </div><!-- end second column -->
 
 
 
</div> <!-- end row block --> 

<!-- Jquery Imageareaselector (subvolume selector). -->
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
      // Load channel names
      load_channel_name();
      //Load offset, brightness, gamma.
      load_channel_params();

      $('html, body').animate({
          scrollTop: $('#dinavid_wrapper').offset().top
      }, 'slow');
      ch_color = ['#0000ff', '#ff0000', '#00ff00' , '#f58231', '#4363d8', '#911eb4', '#42d4f4', '#f032e6', '#bfef45', '#fabebe', '#469990', '#e6beff', '#9A6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', '#000075'];
                  
      /*{% with ''|center:num_ch as channels %}
            {% for _ in channels %}
              $("#ch_color_{{forloop.counter0}}").val(ch_color[{{forloop.counter0}}]);
             {% endfor %}
      {% endwith %}*/
      
      update_rot_img(0,0);
      } );
      
      
//Load the preset channel names.
function load_channel_name(){
      // dataname = $("#image_select optgroup option:selected").val();
      // alert("{{ch_names}}");
      {% for ch in ch_names %}
        $("#ch_name_{{forloop.counter}}").val("{{ch}}");
        $('label[name="ch_label_{{forloop.counter}}"]').html("{{ch}}");
        
        $("#nuclei_channel_x optgroup option[value='{{forloop.counter0}}']").html("{{ch}}");
        $("#label[name='ch_label_{{forloop.counter}}'").html("{{ch}}");
        $('#nuclei_channel_y optgroup option[value="{{forloop.counter0}}"]').html("{{ch}}");
      {% endfor %}    
}

var ch_param_ = [];
//Load the preset channel parameters.
function load_channel_params() {
  // alert({{ch_params}});
  ch_param_ = null;
  ch_param_ = [];
  {% for x,y,z,color in ch_params %}
    // alert({{x}} + ' ' + {{y}} + ' ' + {{z}});
      // alert(ch_params[{{ forloop.parentloop.counter0 }}][{{ forloop.counter0 }}]);
      // $("#ch_gamma_{{forloop.counter0}}").val(ch_params[{{ forloop.parentloop.counter0 }}][{{ forloop.counter0 }}]);
      // if ({{forloop.counter0}} == '0'){
      //   alert(0);
      // }else if({{forloop.counter0}} == '1'){
      //   alert(1);
      // }else if({{forloop.counter0}} == '2'){
      //   alert(2);
      // }
    $("#ch_gamma_{{forloop.counter0}}").val({{x}});
    $("#gamma{{forloop.counter0}}").val({{x}});
    $("#ch_brightness_{{forloop.counter0}}").val({{y}});
    $("#bright{{forloop.counter0}}").val({{y}});
    $("#ch_offset_{{forloop.counter0}}").val({{z}});
    $("#offset{{forloop.counter0}}").val({{z}});
    $("#ch_color_{{forloop.counter0}}").val("{{color}}");
  {% endfor %}   
  // alert(ch_param_) 
}


var x_rot = 0;
var y_rot = 0;
var interval = 5;
var deg_max = 45;
function gen_color_rot(x_or_y,dir)
{
  if( x_or_y=="x" )
  {
    if(dir > 0 && x_rot < deg_max)
    {
      x_rot += interval;
    }
    else if (dir < 0 && x_rot > -deg_max)
    {
      x_rot -= interval;
    }
    else
    {
      //error
      alert("You are out of range.");
      return;
    }
  }
  else if ( x_or_y=="y" )
  {
    if(dir > 0 && y_rot < deg_max)
      {
        y_rot += interval;
      }
      else if (dir < 0 && y_rot > -deg_max)
      {
        y_rot -= interval;
      }
      else
      {
      //error
      alert("You are out of range.");
      return;
      }
  }
  else
  {
    alert("Something went wrong.");
      return;
  }
  
  
  update_rot_img(x_rot,y_rot);
}


function update_rot_img(x_rot,y_rot)
{
  form = $("#channels_form");
  form_content = form.serialize() + '&x_rot=' + x_rot.toString() + '&y_rot=' + y_rot.toString();
  
  $.ajax({
      url: "{% url 'photos:gen_rot_color_images' %}",
      data: form_content,
      dataType: 'json',
      success: function (data) {
        $('#x_rot').html(x_rot);
        $('#y_rot').html(y_rot);
        $('#rot_imgs').attr("src",data.color_file+"?rand="+Math.random().toString(36).substring(7));
      }
      });
}


</script>

<!--CSS for the main page. -->
<style>
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d0d0d0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 25px;
  background: #4C50AF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}


.slider.ch_slider {
  width: 20%;
  display: inline;
}


.dinavid-block {
  border: solid;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.dinavid-block button h3{
  margin-top: 0px;
  margin-bottom: 0px;
}

.dinavid-block h2 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.column-left .dinavid-block {
	background-color: gray;	
}

.column-left .dinavid-block button {
	background-color: gray;	
    width: 100%;
}

//The blocks on the right should have a white background
.column-right .dinavid-block {
	background-color: white;	
}


.boxwrapper{
  //width:75%;
  height:300px;
}

.box{
  float:left; 
  margin-left:5px;
  margin-right:5px;
  height:100%;
  width:22.5%;
}


{% ifnotequal color_dirpath "None" %}
    #visualization-block {
      background-color: white;	
  }
{% endifnotequal %}

</style>

<!--The CSS needed to display content as 2 columna-->
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  //height: 3000px; /* Should be removed. Only for demonstration */
}

.column-left {
  width:230px;
  position: fixed; 
  padding-bottom: 100px;
  }

.column-mid {
  width:350px;
  height:100%;
  padding-bottom: 100px;
  position: fixed; 
  margin-left: 230px;  
  overflow-y: scroll;
}

.column-right {
  width: 50%;
  margin-left: 600px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#dinavid_wrapper {
 width : 100%;
}
</style>

<!-- CSS for toggle switch-->
<style>
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
</style>

<!--for showing range values -->
<style>
output { 
  //position: absolute;
  background-image: linear-gradient(top, #444444, #999999);
  width: 28%; 
  height: 30px; 
  text-align: center; 
  color: black; 
  border-radius: 10px; 
  display: inline-block; 
  font: bold 15px/30px Georgia;
  bottom: 0%;
  left: 0;
  margin-left: -1%;
}

/* Supress pointer events */
input { pointer-events: fill; }

</style>

<style>
#rot_imgs {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#rot_panel {
text-align: center;
}
</style>

{% endblock %}
