{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Distributed and Networked Analysis of Volumetric Image Data (DINAVID)</h>
  <h2>Login</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>

<p  class="lead"> <font size=4.5>
To start using the DINAVID System, log in then click on the
'Anaylsis System' 
 tab on the top of this page.
 <br>
</font></p>  
  
  <br>
  <br>
  <p  class="lead"> <font size=4>
    DINAVID provides biologists tools to process and visualize 3D data remotely.
    <!--Please log in for more information.-->
   </font></p>


  <font size=3>
  <b>This work is supported by a George M. O’Brien Award from the National Institutes of Health NIH/NIDDK P50 DK 61594 
and by the endowment of the Charles William Harrison Distinguished Professorship at
Purdue University.
  </font></p>
  <br>
  <font size=2>
    <b>If you have any questions or would like to have an account on DINAVID, please email <a href="mailto:imart@ecn.purdue.edu" target="_top">imart@ecn.purdue.edu</a>. 
    <br>
    The DINAVID project is the under the direction of <a href="https://engineering.purdue.edu/~ace/">Professor Edward J. Delp</a>, School of Electrical and Computer Engineering, Purdue University.
    <br>
    For further information of our work, please go to  <a href="http://www.microscopy-purdue.net">our project website</a>.
    </b>
    </font></p>{% endblock %}
