{% extends 'photos/base.html' %}

{% load static %}

{% block title %}Drag and Drop Upload{% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'photos/js/drag-and-drop-upload.js' %}"></script>
{% endblock %}

{% block photos_content %}
<h1>Drag and Drop Upload</h1>
  <form method="post" action="{% url 'photos:clear_database' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="btn btn-danger pull-right">
      <span class="glyphicon glyphicon-trash"></span> Delete Uploaded Images
    </button>
  </form>



  <div class="well text-muted text-center" style="padding-top: 4rem; padding-bottom: 4rem;">
    <span class="glyphicon glyphicon-arrow-down" style="font-size: 4rem;"></span>
    <h3>Drop Images Here to Upload</h3>
  </div>

  <input id="fileupload" type="file" name="file" multiple
         style="display: none;"
         data-url="{% url 'photos:basic_upload' %}"
         data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>




  <table class="table table-bordered" style=" background-color: #F5F5F5">
      <thead>
      <tr>
        <th>Image</th>
      </tr>
    </thead>
  </table>

  <div style="height:500px;overflow-y:auto;width:auto;">
  <table id="gallery" class="table table-bordered">

    <tbody>
      {% for photo in photos %}
        <tr>
          <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

{% endblock %}
