{% extends 'photos/base.html' %}

{% load static %}

{% block title %}Getting Started{% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static '/photos/js/basic-upload.js' %}"></script>
{% endblock %}

{% block photos_content %}

<p  class="lead"> <font size=4.5>
To start using the DINAVID System, click on the
<a href="{% url 'photos:select_volume' %}">'Anaylsis System' </a>
 tab on the top of this page.
</font></p>

<p  class="lead"> <font size=4.5>
For a detailed tutorial on how to use the DINAVID system, click on the
<a href="{% url 'photos:tool_intro' %}">'Tutorial' </a>
 tab on the top of this page.
</font></p>

<p  class="lead"> <font size=4.5>
If you have any questions or would like to have an account on DINAVID, please email <a href="mailto:imart@ecn.purdue.edu" target="_top">imart@ecn.purdue.edu</a>  or visit the <a href="{% url 'contact' %}">'Contact' </a> page for more information.
</font></p>


{% endblock %}