{% extends 'photos/base.html' %}

{% load static %}

{% block title %}Tutorial{% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static '/photos/js/basic-upload.js' %}"></script>
{% endblock %}

{% block photos_content %}

<b>If you have any questions or would like to have an account on DINAVID, please email <a href="mailto:imart@ecn.purdue.edu" target="_top">imart@ecn.purdue.edu</a>.</b> 
<br><br> 


<h2>Starting the DINAVID system</h2>
To start using the DINAVID System, click on the
<a href="{% url 'photos:select_volume' %}">'Anaylsis System' </a>
 tab on the top of this page.

<h2>Select or Upload Volume</h2>

Select a previously uploaded volume and press "Go", 
or upload a new volume and press "Upload".
<br>The volume you upload must be a single 3D composite .tif file.
For an example test volume, see the bottom of this page.
<br>DINAVID supports a maximum of 19 channels.

<h2>Navigating the DINAVID System</h2>

Once you have selected or uploaded a volume, your volume will be loaded on the DINAVID system.
<br>Click on "Close Panels" to hide the panels controling the image.
<br>Click on "Open Panels" to re-open the hidden panels.
<br>Click on "Test Your Network Connection" to test your network bandwidth.


<h2>Visualization </h2>

<h3>Channel Color Picker</h3>
Choose a color for each channel of your image. 
You can also choose whether a channel should be displayed in the rendering.

<h3>Selecting a Region of Interest</h3>
On the loaded image, using your mouse, left click and drag a region of interest (RoI).
There will be a yellow box that defines the RoI.
Use your mouse to move or resize the RoI.

<br>When an RoI is selected, a zoom in of the RoI will appear below the loaded image.
You can move this zoomed-in region around by left-clicking on the blue heading and moving around.

<h3>2D Parameters</h3>
Adjust the gamma, brightness, and offset of each of the channels in the 2D rendering.
<br>Above the loaded image is a scroll bar that allows you to scroll through the slices of the volume.

<h3>3D Parameters</h3>
Choose which 3 channels to be rendered in the 3D rendering.
<br>Also entering the correction factor for the z-direction.
<br>A correction factor of 1.00 means that the aspect ratio for the X, Y, and Z directions are equal.

<h3>3D Visualization of a Region of Interest (RoI)</h3>
Click on "Refresh 3D Visualization" to generate a rendering of the RoI.
<br>Within the 3D rendering is a panel consisting of the gamma, brightness, and offset of the 3 selected channels.
<br>Click on "Toggle 2D/3D Visualization" to switch between the zoomed-in 2D region and the 3D rendering.
<br> Note that the zoomed-in region is scrollable through the different focal planes.


<h2>Pre-Processing</h2>
Select the channel (usually nuclei) to do the pre-processing and segmentation on.
<br>Click on "Add Pre-Processing Step" to begin. You may repeat this as many times as needed.
<br>Select the desired image processing operation and select the appropriate parameters for each step.
<br>Click on "Remove Step" to remove any processing step you added that you wish to discard.
<br>
<br>Once you have built your list of processing steps, 
<br>click on "Preview Processing Steps" to preview the processing steps on the selected RoI.
<br>If you like the results, click on "Perform Processing Steps" to process the entire volume.
<br>Once the pre-processing steps have finished, you can move the RoI to view different areas of the result of the processing step.





<h2>Segmentation</h2>
Select the desired segmentation tool and the appropriate parameters.
<br>
<br>DINAVID provides support for 2D watershed, 3D watershed, DeepSynth, NISNet3D, and Cellpose.
<br>For DeepSynth segmentation, five pre-trained models are provided. 
<br>Select the model that most closely resembles your volume.
<br>
<br>Click on "Segment Image Preview" to preview the segmentation on the selected RoI.
<br>If you like the results, click on "Segment Image" to segment the entire volume.
<br>Once the segmentation has finished, you can move the RoI to view different areas of segmentation result.
<br>To download the segmentation, click on "Download Segmented Volume" in the "Result of Segmentation" section that pops up.

<h2>Quantification</h2>
Once you have segmented an image, the "Quantification" panel becomes available.
<br>Enter the number of voxels to radiate out of a nucleus to define the region surrrounding a nucleus. 
<br>This should be a positive integer.
<br>
<br>Click on "Interactive Data Analysis on SubVolume" to preview on the selected RoI, using the preview segmentation of the RoI.
<br>If you are satisified with the preview, click on "Interactive Data Analysis on Entire Volume" to analyze the entire volume.

<h2>Interactive Data Analysis</h2>
Once the quantification has finished, the "Interactive Data Analysis" panel will be available.
<br>You should see two new sections: "Scatterplot" and "Gated Cells".
<br>Choose the channel and stastic to be displayed on the scatterplot, and click the appropriate "Update Paramterers" button,
depending on whether you did the quantification on a RoI/subvolume or the entire volume.
You can also adjust the number of voxels to radiate out of a nucleus to define the region surrrouding a nucleus.

<br>Draw a region of interest (RoI) on the "Scatterplot" by using your mouse to left click and drag.
<br>After click the appropriate "Update Paramterers" button, the corresponding cells will be highlighted in "Gated Cells."
<br>
<br>Alternatively, draw an RoI in "Gated Cells" by using your mouse to left click and drag.
<br>After click the appropriate "Update Paramterers" button, the corresponding cells will be highlighted in "Scatterplot."
<br>
<br>To download a spreadsheet of statistics, click on the link that says "Download Spreadsheet."








<h2>Example Test Volume</h2>

	Please refer to 
	<br>
	S. Winfree and T. El-Achkar, "<a target="_blank" href="https://doi.org/10.5281/zenodo.5816199">Human kidney cortex confocal reference dataset 1,</a>" <i>Zenodo</i>, 2022. Available from: 
	<a target="_blank" href="https://doi.org/10.5281/zenodo.5816199">https://doi.org/10.5281/zenodo.5816199</a>. doi:10.5281/zenodo.581
	<br>
	for an example test volume.

    
    
<style>
td, th {
    border: 1px solid #dddddd;er 
    text-align: left;er 
    padding: 8px;
    width: 50%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

</style>
{% endblock %}


