{% extends 'photos/base.html' %}

{% load static %}

{% block title %}Visualize 3D volume{% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.map"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static '/photos/js/basic-upload.js' %}"></script>

  <script type="text/javascript">
  function resizeIframe(obj){
     obj.style.width = obj.contentWindow.document.body.scrollWidth + 'px';
     obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
  </script>
{% endblock %}

{% block photos_content %}

{% if uname and uname.strip %}
<iframe src="{{address}}{{uname}}/visualization_input/{{disname}}/test.html" height=800px width=120%></iframe>
{% else %}
<iframe src="{{address}}default/visualization_input/{{disname}}/test.html" height=800px width=120%></iframe>

{% endif %}


{% endblock %}


