<script>
function show_not_logged_in()
{
alert("You are not logged in. Please log in to access this page.")
}
</script>

<nav class="navbar navbar-default">
  <div class="container" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <a class="navbar-brand" href="{% url 'home' %}"><font size=3>DINAVID</font></a>
    <a class="navbar-brand" href="{% url 'home' %}"><font size=3>Home</font></a>
    <div class="collapse navbar-collapse" id="main-menu" style="height:65px">
      <ul class="nav navbar-nav" style="height:65px">
        <li{% if '/photos/workflow/' in request.path %} class="active"{% endif %} >
          <a style="margin-left: 5px" class="navbar-brand" href="{% url 'photos:getting_started' %}" {% if not user.is_authenticated %} onclick="show_not_logged_in()" {%endif%}><font color = #B03A2E size=3>Getting<br>Started</font></a>
        </li>
        <li{% if '/photos/workflow/' in request.path %} class="active"{% endif %} >
          <a style="margin-left: 5px" class="navbar-brand" href="{% url 'photos:select_volume' %}"><font color = #B03A2E size=3 {% if not user.is_authenticated %} onclick="show_not_logged_in()" {%endif%}>Analysis<br>System</font></a>
        </li>
        <li{% if '/photos/tool_intro/' in request.path %} class="active"{% endif %}>
          <a style="margin-left: 5px" class="navbar-brand" href="{% url 'photos:tool_intro' %}"><font color = #B03A2E size=3 {% if not user.is_authenticated %} onclick="show_not_logged_in()" {%endif%}>Tutorial</font></a>
        </li> 
        

        <li{% if '/photos/contact/' in request.path %} class="active"{% endif %}>
          <a style="margin-left: 5px" class="navbar-brand" href="{% url 'contact' %}"><font color = #B03A2E size=3 > Contact</font></a>
        </li> 
        <li>
           <a style="margin-left: 5px" class="navbar-brand" > Version 5.4.25,<br>Aug 17, 2023      </a>
        </li>
      </ul>
      <div id="auth_div" style="float:right; width=400px">
      {% if user.is_authenticated %}
        <font size=3 face="verdana">User: {{ user.username }} <a href="{% url 'logout' %}">logout</a></font>
      {% else %}
        <font size=3 face="verdana"><a href="{% url 'login' %}">login</a></font>
      {% endif %}
        <!--<p style="font-size:11px">&copy; Copyright 2022 - The Board of Trustees <br> of Purdue University - All rights reserved</p>
      -->
      </div>
    </div>
  </div>
</nav>



