{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Dinavid - Microscopy Imaging Analysis System{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <style type="text/css">
      .page-header {
        margin-top: 0;
      }
    </style>
  </head>
  
  <body>

<style>

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
#bottom-footer {

  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
 
}

#logo {

/*    width: 15%;
    height: 100%;
    position: sticky; 
    float: left; */
    width: 8%;
    height: auto;
    float: left;
	/*border: solid 1px; */
}
#content {

/*    width: 80%;
    height: 100%;
    position: sticky;  
    float: right;*/

    width: 100%;
    height: auto;
    /*float: right;*/
    /*border: solid 1px; */

}
#containerDiv {
    width: 100%;
    margin: 0;
    overflow:visible;/*contain child floats*/
}
</style>

    
    {% include 'includes/header_compact.html' %}
    
    <div class="container" id=containerDiv>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}
  </body>

</html>

