{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Dinavid - Microscopy Imaging Analysis System{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <style type="text/css">
      .page-header {
        margin-top: 0;
      }
    </style>
  </head>
  <body>

<style>

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
#bottom-footer {

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
 
}

#logo {

/*    width: 15%;
    height: 100%;
    position: sticky; 
    float: left; */
    width: 8%;
    height: auto;
    float: left;
	/*border: solid 1px; */
}
#content {

/*    width: 80%;
    height: 100%;
    position: sticky;  
    float: right;*/

    width: 85%;
    height: auto;
    float: right;
    /*border: solid 1px; */

}
#containerDiv {
    width: 90%;
    margin:0 0;
    overflow:visible;/*contain child floats*/
}
</style>
    
    {% include 'includes/header.html' %}
    <div class="container" id=containerDiv>
    <div class="menu" id = "logo">
		<p align="center">
        <br><br><br>
			<a href="https://engineering.purdue.edu/~ips/index.html"> <img src="{% static 'viper.jpg' %}" width=120% border=0></a><br>
            <a href="http://www.purdue.edu/"> <img src="{% static 'griffin2.gif' %}" width=80% border=0></a>
	        <a href="http://www.iupui.edu/"> <img src="{% static 'IUPUI_logo_2015.jpg' %}" width=100% border=0> </a> 
	      	<a href="http://medicine.iu.edu/"> <img src="{% static 'IUSOM_logo.png' %}" width=80% border=0> </a>
		</p>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}
  </body>
<footer id="bottom-footer"> <!--&copy; Copyright 2022 - The Board of Trustees of Purdue University - All rights reserved--></footer>

</html>

