{% extends 'base.html' %}

{% load static %}

{% block title %}Contact Information{% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static '/photos/js/basic-upload.js' %}"></script>
{% endblock %}

{% block content %}
<font size = 3>
<b>If you have any questions or would like to have an account on DINAVID, please email <a href="mailto:imart@ecn.purdue.edu" target="_top">imart@ecn.purdue.edu</a>.</b> 
<br><br>   
<b> For other questions, please contact: </b>  
</font>
<br>
<font size = 3>
Professor Edward J. Delp <br>
The Charles William Harrison Distinguished Professor of
Electrical and Computer Engineering 
and
Professor of Biomedical Engineering <br>
<br>
Purdue University <br>
School of Electrical and Computer Engineering <br>
465 Northwestern Avenue<br>
West Lafayette IN 47907-2035<br>
USA    <br>
<br>
Email: <a href="mailto:ace@ecn.purdue.edu" target="_top">ace@ecn.purdue.edu</a>. 
<br>
Telephone: +1 765 494 1740<br>
Fax: +1 765 494 3358<br>
<br>
URL: <br>
<a href="https://engineering.purdue.edu/~ace/">https://engineering.purdue.edu/~ace/</a><br>
<a href="http://www.viperlab.org/">http://www.viperlab.org/</a><br>
<a href="http://orcid.org/0000-0002-2909-7323">http://orcid.org/0000-0002-2909-7323</a><br>
 
 
 </font>



<style>
td, th {
    border: 1px solid #dddddd;er 
    text-align: left;er 
    padding: 8px;
    width: 50%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

</style>
{% endblock %}


