{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">Distributed and Networked Analysis of Volumetric Image Data (DINAVID)</h1>

  <p  class="lead"> <font size=5.5>
    The DINAVID system provides tools to process and visualize microscopy images remotely.
    <br><br>
    DINAVID supports traditional imaging processing tools such as filtering, thresholding, background subtraction, watershed, and morphological operations. 
    <br><br>
    DINAVID also has deep-learning based 3D segmentation tools for fluorescent microscopy images of nuclei.
   </font></p>
   <font size=5.5> 
  <br>If you have any questions or would like to have an account on DINAVID, please email <a href="mailto:imart@ecn.purdue.edu" target="_top">imart@ecn.purdue.edu</a>. 
   <br>  
   </font>
    
  <p  class="lead" style="margin-top: 50px"> <font size=5>  Click <a href="photos/select_volume/">here</a> or go to <a href="photos/select_volume/">'Analysis System'</a> above to start processing images. </font><p>
  <p  class="lead"> <font size=5>  Click <a href="photos/tool_intro/">here</a>  or for a tutorial on how to use DINAVID.</font><p>

<br><br><br>


  <font size=3>
  <b>This work is supported by a George M. O’Brien Award from the National Institutes of Health NIH/NIDDK P50 DK 61594 
and by the endowment of the Charles William Harrison Distinguished Professorship at
Purdue University.
  </font></p>
  <br>
  <font size=2>
    
    The DINAVID project is the under the direction of <a href="https://engineering.purdue.edu/~ace/">Professor Edward J. Delp</a>, School of Electrical and Computer Engineering, Purdue University.
    <br>
    For further information of our work, please go to  <a href="http://www.microscopy-purdue.net">our project website</a>.
    </b>
    </font></p>


{% endblock %}
