/*
 * imgAreaSelect default style
 */

.imgareaselect-border1 {
	background: url(border-v-yellow-thick.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(border-h-yellow-thick.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(border-v-yellow-thick.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(border-h-yellow-thick.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #FFF;
    border: solid 1px #FFFF00;
    filter: alpha(opacity=100);
    opacity: 1.0;
    width: 1px;
    height: 1px;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=100);
    opacity: 0.0;
}

.imgareaselect-selection {  
}